{% autoescape false %}
<div class="dy-carousel dy-carouse-1-0 {{ class }}" data-slick='{{ options }}'>
  {%- for item in items | default([
    {
      media: base_path~'themes/custom/dyniva_ui/templates/ui/images/slide/slide-01.jpg',
      class: 'carousel-item'
    },
    {
      media: base_path~'themes/custom/dyniva_ui/templates/ui/images/slide/slide-02.jpg',
      class: 'carousel-item'
    },
    {
      media: base_path~'themes/custom/dyniva_ui/templates/ui/images/slide/slide-03.jpg',
      class: 'carousel-item'
    }
  ]) ~%}
  <div class="{{ item.class }}">
    <img src="{{ item.media }}" alt="">
  </div>
  {%- endfor ~%}
</div>
{% endautoescape %}
