<div class="panel panel-card">
  <div class="panel-row-larger t-c">
    <img src="holder.js/128x128?bg=fff" class="img-n radius-circle outside-b" alt="avatar">
    <div class="text-light outside-b">
      {%- for desc in descs ~%}
      <div>{{ desc }}</div>
      {%- endfor ~%}
      <h4 class="my-20">
        <strong>{{ title }}</strong>
      </h4>
    </div>
  </div>
</div>
