<div class="heading bg-white">
  <div class="heading-content t-c">
    <h2 class="heading-title">Drupal开发专家，让您的应用快速落地</h2>
    <div class="title-desc">
      移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。无纸化的培训管理，连接线上和线下，节约管理成本，提升培训效率。
    </div>
  </div>
</div>
