<div class="notices outside-tb">
  <div class="inside-lr">
    <a href="#" class="btn btn-base btn-ele-circle  btn-base f-r">登录</a>
    <p class="text-light">您没有访问的权限，请登录！</p>
  </div>
</div>

<div class="notices notices-base outside-tb">
  <div class="inside-lr">
    <a href="#" class="btn btn-ele-circle btn-outline f-r">登录</a>
    <p>您没有访问的权限，请登录！</p>
  </div>
</div>

<div class="notices notices-success outside-tb">
  <div class="inside-lr">
    <a href="#" class="btn btn-ele-circle btn-outline f-r">登录</a>
    <p>您没有访问的权限，请登录！</p>
  </div>
</div>

<div class="notices notices-info outside-tb">
  <div class="inside-lr">
    <a href="#" class="btn btn-ele-circle btn-outline f-r">登录</a>
    <p>您没有访问的权限，请登录！</p>
  </div>
</div>

<div class="notices notices-warning outside-tb">
  <div class="inside-lr">
    <a href="#" class="btn btn-ele-circle btn-outline f-r">登录</a>
    <p>您没有访问的权限，请登录！</p>
  </div>
</div>

<div class="notices notices-fail outside-tb">
  <div class="inside-lr">
    <a href="#" class="btn btn-ele-circle btn-outline f-r">重置密码</a>
    <p>您的密码已经过期，请重置！</p>
  </div>
</div>
