<div class="outside-tb">
  <a href="#" class="btn btn-base btn-radius">默认样式</a>
  <a href="#" class="btn btn-info btn-radius">次要按钮</a>
  <a href="#" class="btn btn-warning btn-radius">橙色按钮</a>
  <a href="#" class="btn btn-error btn-radius">红色按钮</a>
  <a href="#" class="btn btn-gray btn-radius">灰色按钮</a>
</div>
