<div class="outside-tb">
  <a href="#" class="btn btn-base btn-radius btn-mini">按钮 mini</a>
  <a href="#" class="btn btn-base btn-radius btn-sm">按钮 sm</a>
  <a href="#" class="btn btn-base btn-radius">按钮 normal</a>
  <a href="#" class="btn btn-base btn-radius btn-lg">按钮 lg</a>
</div>
