<div class="outside-tb">
  <a class="btn btn-base btn-ele btn-radius btn-icon" href="#">
    <i class="icon">&#xe604;</i>
    Dyniva UI
  </a>
  <a class="btn btn-info btn-ele btn-radius btn-icon" href="#">
    <i class="icon">&#xe625;</i>
    Dyniva UI
  </a>
  <a class="btn btn-warning btn-ele btn-radius btn-icon" href="#">
    <i class="icon">&#xe612;</i>
    Dyniva UI
  </a>
  <a class="btn btn-gray btn-ele btn-radius btn-icon" href="#">
    <i class="icon">&#xe613;</i>
    Dyniva UI
  </a>
  <a href="#" class="btn btn-base-outline btn-ele-circle">
    <i class="icon">&#xe613;</i>QQ
  </a>
  <a href="#" class="btn btn-error-outline btn-ele-circle">
    <i class="icon">&#xe62f;</i>优酷
  </a>
  <a href="#" class="btn btn-info-outline btn-ele-circle">
    <i class="icon">&#xe625;</i>微信
  </a>
</div>
