<div class="outside-tb flex -mx-10">
  <div class="px-10">
    <a href="#" class="text-base">这里是默认文字颜色</a>
  </div>
  <div class="px-10">
    <a href="#" class="text-light">这里是浅色文字颜色</a>
  </div>
  <div class="px-10">
    <span class="bg-color-primary">
      <a href="#" class="text-lighter">这里是更浅色颜色</a>
    </span>
  </div>
  <div class="px-10">
    <span class="bg-color-primary">
      <a href="#" class="text-white">链接文本是白色</a>
    </span>
  </div>
  <div class="px-10">
    <a href="#" class="text-black">链接文本是黑色</a>
  </div>
</div>
