<div class="outside-tb flex -mx-10">
  <div class="px-10">
    <a href="#" class="text-color-success">成功 Success</a>
  </div>
  <div class="px-10">
    <a href="#" class="text-color-info">信息 Info</a>
  </div>
  <div class="px-10">
    <a href="#" class="text-color-warning">警告 Warning</a>
  </div>
  <div class="px-10">
    <a href="#" class="text-color-error">错误 Error</a>
  </div>
  <div class="px-10">
    <a href="#" class="active">激活 Active</a>
  </div>
</div>
