<div class="dy-hero-wrapper dy-hero-1 inside" style="background-image: linear-gradient(rgba(17, 19, 20, 0.73),rgba(17, 19, 20, 0.73)),url('/themes/custom/dyniva_ui/templates/ui/images/hero/img.jpg');">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 ">
      <div class="dy-hero-content text-white t-c">
        <div class="y-m">
          <h2 class="inside-b outside-b text-white">Drupal开发专家，让您的应用快速落地</h2>
          <div class="size-l text-white">
            <p>
              移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。无纸化的培训管理，连接线上和线下，节约管理成本，提升培训效率。
            </p>
          </div>

          <a class="outside-b size-lr d_b" data-title="视频" data-toggle="modal" data-mode="video" data-src="//vjs.zencdn.net/v/oceans.mp4" data-poster="//vjs.zencdn.net/v/oceans.png">
            <i class="icon icon-play text-white"></i>
          </a>

          <div class="inside-b">
            <a href="#sample" data-title="图片" data-toggle="modal" data-mode="image" data-src="{{ base_path }}themes/custom/dyniva_ui/templates/ui/images/light/light-03.jpg" class="inside-b btn btn-info btn-ele-circle">获取演示</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
