<div class="dy-video-wrapper dy-video-1">
  <div class="video-body">
    <video id="hero-video" controls="controls" muted loop src="//vjs.zencdn.net/v/oceans.mp4">
      <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
    </source>
    <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm">
  </source>
  <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
</source>
您的浏览器不支持video播放，请升级浏览器！</video></div></div>
