/**
 * Password Form Element
 * Password strength indicator.
**/

.form-type-password {
  position: relative;

  .form-text {
    width: 300px;
    max-width: 100%;
  }

  .password-strength {
    .password-strength__meter {
      background-color: $state-info-bg;
      @include radius-base(0 0 $element-radius $element-radius);
      width: 300px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      height: 4px;
      margin-top: 0;
      .password-strength__indicator {
        background-color: $state-info;
      }
    }

    .password-strength__title {
      color: $text-color-lighter;
      font-size: $font-size-small;
      position: absolute;
      top: 0;
      left: 100px;
      width: 200px;
      text-align: right;
    }

    .password-strength__text {
      color: $state-info;
    }
  }

  div.password-confirm {
    color: $text-color-lighter;
    font-size: $font-size-small;
    position: absolute;
    top: 0;
    left: 100px;
    width: 200px;
    text-align: right;

    .ok {
      background-color: transparent;
      color: $state-success;
    }

    .error {
      background-color: transparent;
      color: $state-danger;
    }
  }
}

div.password-suggestions {
  @extend .talk;
  @extend .talk-top;
  font-size: 12px;
  line-height: 2;
  color: $state-warning;
  font-weight: bold;

  ul {
    font-weight: normal;
    color: $text-color-lighter;
    line-height: inherit;
    margin-bottom: 0;
  }
}
