/**
 * $file
 * Visual styles for animated throbber.
 * Animated throbber
 * $see autocomplete.js
 */

.js input.form-autocomplete {
  background-position: 99% center;
  background-repeat: no-repeat;
}

.js input.form-autocomplete.ui-autocomplete-loading {
  background-position: 99% center;
}

#autocomplete {
  border: 1px solid $site-base;
  border-top: none;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  margin-top: -2px;
}

#autocomplete ul {
  background-color: #f0f0f0;
  list-style: none;
  margin: 0;
  padding: 0;
}

#autocomplete li {
  border-top: 1px dashed #ffffff;
  list-style: none;
  color: #000;
  cursor: default;
  white-space: pre;
  padding: 3px 4px;
}

#autocomplete li.selected {
  background-color: #ffffff;
}
