{#
/**
 * .dy-footer: base theme footer style
 * .js-dy-footer: apply js
 * #dy-ui-footer: ui preview page footer style
 */
#}
<footer id="dy-ui-footer" style="visibility:visible" class="dy-footer inside-tb js-dy-footer">
  <div class="inner">
    <span>© 2007-2021 戴文信息科技（上海）有限公司</span>
  </div>
</footer>
<div id="go-to-top" class="hvr-icon-bob" data-options='{"bottom":"80px"}'>
  <i class="icon icon-up hvr-icon"></i>
</div>
