{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{% block header %}
  {% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">视图Views开发规范</h1>
    <h5 class="title">实现前端开发本身的一个规范化，class的命名，html的结构；更好的契合views配置，建站者可以通过配置实现，最终实现标准化，降低学习、开发成本。</h5>
  </div>
</div>
{# TODO: 这里可以配视频 #}
<div class="panel panel-ui">
  <section class="dy-components" id="view-demo">
    <h2 class="section-header inner">视图Views</h2>

    <div class="section-item title-box" id="structure-guide">
      <h4 class="title inner">配置list列表示例</h4>
      <p class="rules inner">示例HTML结构如下，步骤：</p>
      <ul class="inner">
        <li>高级-其他-CSS类：【bg-white】这里控制组件的整体风格样式。</li>
        <li>格式-显示【字段】，在设置中去除勾选【提供默认的字段封装元素】。</li>
        <li>格式-格式选择【HTML列表】，列表类型【无序列表】，列表的类【list cal-list】。</li>
        <li>分别添加所有的字段，并排除显示。</li>
        <li>添加字段【全局：定制文本】，在文本框中，使用token进行html结构调整。</li>
      </ul>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed"
          role="button"
          data-toggle="collapse"
          aria-expanded="false"
          aria-controls="collapseCode"
        >
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse in">
          <pre class="prettyprint lang-html">
            {{- include('@dyniva_ui/ui/pages/drupal-guide/structure-guide.html.twig') | escape -}}
          </pre>
        </div>
      </div>
    </div>

    {% block viewDemo %}{% endblock %}
  </section>

  <section class="dy-components" id="template-guide">
    <h2 class="section-header inner">Drupal模板</h2>

    <div class="section-item title-box">
      <h4 class="title inner"><code>page.html.twig</code></h4>
      <p class="rules inner">
        注意：在 <code>page.html.twig</code> 模板中，当左边栏或者右边栏存在，或者左右边栏同时存在时，
        边栏和 <code>content</code> 区域会添加<code>.inner</code>的类，使内容居中显示。
        当没有边栏的时候 <code>content</code> 区域的内容默认占全屏，这样处理是考虑到全屏的组件。
      </p>
      <p class="rules inner">
        如果 <code>node</code>页面没有边栏时可以改成单列 <code>layout</code> 结合使用
        <code>bootstrap_layout</code>模块灵活配置。通过视图来输出的区块或者页面，可以在视图中，
        【高级】-【CSS类】添加 <code>inner</code> 类
      </p>
      <p class="rules inner">
        如果你已经确定不会有全屏的组件，可以覆写一份 <code>page.html.twig</code> ,对 <code>content</code>
        区域的模板进行如下判断，当没有边栏时，添加 <code>.inner</code>
      </p>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed"
          role="button"
          data-toggle="collapse"
          aria-expanded="false"
          aria-controls="collapseCode"
        >
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse in">
          <pre class="prettyprint lang-twig">
            {{- include('@dyniva_ui/ui/pages/drupal-guide/template-guide.html.twig') | escape -}}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>.inner</code></td>
                <td>最大宽度为1200px，并响应居中显示。</td>
              </tr>
              <tr>
                <td><code>.has-sidebar</code></td>
                <td>当为页面区块配置添加类 <code>inner</code> 后，内容居中，需求更改，添加了边栏， <code>.has-sidebar</code> 会对配置出的
                  <code>.inner</code> 进行重置，无需再通过配置删除。
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>{# end section #}

    {% block templateGuide %}{% endblock %}
  </section>

  <section class="dy-components" id="meta-tag">
    <h2 class="section-header inner">响应式和兼容性</h2>
    <div class="section-item title-box">
      <h4 class="title inner">Meta 标签</h4>
      <p class="rules inner">
        为了更好的用户使用体验，让IE浏览器运行最新的渲染模式，让国产浏览器高速模式，
        将以下 <code>meta</code> 标签加入到页面中，并且<strong>必须</strong> 放在最前面，
        任何内容都 <strong>必须</strong> 跟随其后！
      </p>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse in">
          <pre class="prettyprint lang-html">
            {{- include('@dyniva_ui/ui/pages/drupal-guide/meta-tag.html.twig') | escape -}}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>content</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>webkit</code></td>
                <td>默认使用360急速模式渲染页面</td>
              </tr>
              <tr>
                <td><code>IE=edge</code></td>
                <td>使用IE最新的渲染模式运行</td>
              </tr>
              <tr>
                <td><code>width=device-width, initial-scale=1</code></td>
                <td>视口宽度等于设备屏幕宽度，并允许缩放，提高用户体验</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% block layouts %}{% endblock %}
  </section>

  {% block section %}{% endblock %}
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
