{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{% block header %}
{% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">Dyniva UI 更新记录</h1>
    <h5 class="title">Change log</h5>
  </div>
</div>

<div class="panel panel-ui">
  {% block section %}{% endblock %}

  <section class="dy-components" id="version-1-03">
    <h2 class="section-header inner">Dyniva UI 1.0.3</h2>

    <div class="section-item title-box">
      <h4 class="title inner">2019-10</h4>
      <div class="dy-components-demo inner">
        <ul>
          <li>ac3c81d2c - feat: dyniva ui add echart <span class="badge">biaogebusy</span> <span class="f-r">2019-10-31
          </li>
          <li>9a4dc1b47 - update dyniva ui animation preview <span class="badge">biaogebusy</span> <span class="f-r">2019-10-30
          </li>
          <li>2d6b656d9 - fix: add bootstrap tooltip <span class="badge">biaogebusy</span> <span class="f-r">2019-10-28
          </li>
          <li>9bf65af42 - 增加溢出省略功能 <span class="badge">陈智灵</span><span class="f-r">2019-10-24</span></li>
          <li>061ff7ccc - fix: panel description one line <span class="badge">biaogebusy</span><span class="f-r">2019-10-23
          </li>
          <li>b95f6c92b - fix: enhance panel <span class="badge">biaogebusy</span><span class="f-r">2019-10-12</li>
          <li>8c69a951b - 移除bootstrap-tooltip，使用jquery-tooltip <span class="badge">陈智灵</span><span
              class="f-r">2019-10-11</span></li>
          <li>0b56111b7 - fix: rever jquery tooltip <span class="badge">biaogebusy</span><span class="f-r">2019-10-11
          </li>
          <li>c7baf8c73 - 修改预览界面菜单层级关系 <span class="badge">陈智灵</span><span class="f-r">2019-10-09</span></li>
          <li>5c31bedcb - 把选项卡组件放到了导航组件中 <span class="badge">陈智灵</span><span class="f-r">2019-10-09</span></li>
        </ul>
      </div>

      <div class="section-item title-box">
        <h4 class="title inner">2019-09</h4>
        <div class="dy-components-demo inner">
          <ul>
            <li>7d5484817 - 添加bootstrap-modals.less <span class="badge">陈智灵</span><span class="f-r">2019-09-30</span>
            </li>
            <li>c293e6a43 - fix: reset panel style <span class="badge">biaogebusy</span> <span class="f-r">2019-09-30
            </li>
            <li>a109704d3 - fix: override drupal core jquery tooltip liabraries <span class="badge">biaogebusy</span>
              <span
                class="f-r">2019-09-28</li>
            <li>33b28b6e6 - fix: loading page add submit ignore class <span class="badge">biaogebusy</span> <span
                class="f-r">2019-09-23</li>
            <li>507c35407 - 添加video <span class="badge">陈智灵</span><span class="f-r">2019-09-20</span></li>
            <li>0187906e3 - 添加bootstrap-tooltip <span class="badge">陈智灵</span><span class="f-r">2019-09-19</span></li>
            <li>8586a3ab6 - feat: add tooltip js <span class="badge">biaogebusy</span><span class="f-r">2019-09-19</li>
            <li>d124a71ab - fix: enhance page loading <span class="badge">biaogebusy</span> <span class="f-r">2019-09-17
            </li>
            <li>0fe74521b - fix: page loading form submit <span class="badge">biaogebusy</span><span class="f-r">2019-09-17
            </li>
            <li>28190c9ac - 增加列表1.0、1.1、3.0 <span class="badge">陈智灵</span><span class="f-r">2019-09-11</span></li>
            <li>464410f2a - fix: add ignore loading class <span class="badge">biaogebusy</span> <span class="f-r">2019-09-11
            </li>
            <li>9a46fa71a - 增加轮播2.0，增加视频，修改部分预览样式和结构 <span class="badge">陈智灵</span><span class="f-r">2019-09-10</span>
            </li>
            <li>e8e3eb185 - showcase3.0添加 <span class="badge">陈智灵</span><span class="f-r">2019-09-09</span></li>
            <li>41785bdcc - fix: dyniva ui spacer element <span class="badge">biaogebusy</span> <span class="f-r">2019-09-09
            </li>
            <li>a9c5df93f - showcase修改和UI预览界面修改 <span class="badge">陈智灵</span><span class="f-r">2019-09-09</span></li>
            <li>335b4fcd3 - 修改边距系统 <span class="badge">陈智灵</span><span class="f-r">2019-09-09</span></li>
            <li>27f1179fc - 展开代码->开发说明，属性说明放到了折叠面板中 <span class="badge">陈智灵</span><span class="f-r">2019-09-06</span>
            </li>
            <li>9d3b6d605 - 修改footer <span class="badge">陈智灵</span><span class="f-r">2019-09-05</span></li>
            <li>c1f47b4f7 - 颜色预览修改 <span class="badge">陈智灵</span><span class="f-r">2019-09-05</span></li>
            <li>5e90dd24f - 添加卡片 <span class="badge">陈智灵</span><span class="f-r">2019-09-04</span></li>
            <li>7853b3730 - 组件预览页样式修改 <span class="badge">陈智灵</span><span class="f-r">2019-09-03</span></li>
          </ul>
        </div>
      </div>
    </div>

    {% block version103 %}{% endblock %}
  </section>
  <section class="dy-components" id="version-1-02">
    <h2 class="section-header inner">Dyniva UI 1.0.2</h2>

    <div class="section-item title-box">
      <h4 class="title inner">2019-8</h4>
      <div class="dy-components-demo inner">
        <ul>
          <li>205984514 - feat: add stable theme align ckeditor class to dyniva ui <span class="badge">biaogebusy</span>
            <span class="f-r">2019-08-23</li>
          <li>4d21da31e - update: dyniva ui preview <span class="badge">biaogebusy</span><span class="f-r">2019-08-21
          </li>
          <li>a2110cff4 - fix: move dyniva_private_message libaries to module<span class="badge">biaogebusy</span> <span
              class="f-r">2019-08-15</li>
          <li>90eaeda3d - fix: enhance dyniva admin style <span class="badge">biaogebusy</span><span class="f-r">2019-08-09
          </li>
          <li>9416c458c - fix: ui preview header <span class="badge">biaogebusy</span> <span class="f-r">2019-08-01</li>
        </ul>
      </div>
    </div>


    {% block version102 %}{% endblock %}
  </section>
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
