.breadcrumb {
  .list-breadcrumb {
    li {
      a {
        color: $text-color;
        &:hover {
          color: $site-base;
          text-decoration: underline;
        }
      }
    }
    .space {
      color: lighten($text-color-light, 30%);
    }
  }
}
