
<div class="dy-showcase-2-2 dy-showcase-wrapper">
  <div class="inner">
    <div class="showcase-item clearfix">
      <div class="showcase-body inside">
        <div class="showcase-title outside-b ellipsis" data-ellipsis="{}">
          <h3><a href="javascript:void(0);">习近平讲话释放这些重要信息习近平讲话释放这些重要信息</a></h3>
        </div>
        <div class="showcase-desc outside-b ellipsis" data-ellipsis="{}">
          <p>9月6日，习近平主席在北京会见德国总理默克尔。9月6日，习近平主席在北京会见德国总理默克尔。9月6日，习近平主席在北京会见德国总理默克尔。</p>
        </div>
        <div class="showcase-action clearfix">
          <a class="f-l" href="javascript:void(0);"><i class="icon icon-right"></i></a>
        </div>
      </div>
      <div class="showcase-media">
        <div class="img bg-center"
          style="background-image: url({{ base_path }}themes/custom/dyniva_ui/templates/ui/images/media/book.jpg)"
        >
        </div>
      </div>
    </div>
    <div class="showcase-item clearfix">
      <div class="showcase-body inside">
        <div class="showcase-title outside-b ellipsis" data-ellipsis="{}">
          <h3><a href="javascript:void(0);">习近平讲话释放这些重要信息习近平讲话释放这些重要信息</a></h3>
        </div>
        <div class="showcase-desc outside-b ellipsis" data-ellipsis="{}">
          <p>9月6日，习近平主席在北京会见德国总理默克尔。9月6日，习近平主席在北京会见德国总理默克尔。9月6日，习近平主席在北京会见德国总理默克尔。</p>
        </div>
        <div class="showcase-action clearfix">
          <a class="f-l" href="javascript:void(0);"><i class="icon icon-right"></i></a>
        </div>
      </div>
      <div class="showcase-media">
        <div class="img bg-center"
          style="background-image: url({{ base_path }}themes/custom/dyniva_ui/templates/ui/images/media/book.jpg)"
        >
        </div>
      </div>
    </div>
  </div>
</div>
