.dy-list {
  list-style: none;
  @extend .outside-c;
  @extend .inside-c;
  @extend .outside-min-b;

  > li {
    @extend .clearfix;
    @extend .outside-c-b;
    @extend .outside-min-t;
    line-height: 1.5;
  }

  &.dy-list-divider {
    > li {
      &:nth-child(n + 2) {
        @extend .inside-min-t;
        border-top: 1px solid $border-color;
      }
    }
  }

  &.dy-list-striped {
    > li {
      @extend .outside-c;
      padding: $space-min;

      &:nth-of-type(odd) {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        background-color: lighten($bg-lighter, 1%);
      }
    }
  }

  .badge {
    float: right;

    & + .badge {
      margin-right: $space-min / 2;
    }
  }
}

.dy-list-wrapper {
  width: 100%;
  height: auto;

  .dy-list-container {
    width: 100%;
    max-width: $screen-xl;
    margin: 0 auto;
    position: relative;

    hr {
      margin: $space * 1.5 0;
    }
  }

  .head {
    @extend .clearfix;

    h1 {
      float: left;
      line-height: $h1 * 1.2;
    }

    a {
      float: right;

      .icon {
        @extend .h1;
        @include hover-moveX(10px, 0);
        cursor: pointer;
        color: $site-base;
        line-height: $h1 * 1.2;
      }
    }
  }

  a {
    &:hover {
      color: $site-base;
    }
  }
}

.dy-list-1-0 {
  .list-item {
    @extend .clearfix;
    padding-top: $space;
padding-bottom: $space;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }

  .list-body {
    width: 100%;

    &.has-media {
      width: 100%;
    }

    .title {
      line-height: 30px;
      margin-bottom: $space;

      a {
        color: $text-color;

        &:hover {
          color: $site-base;
        }
      }
    }

    .time {
      color: $text-color-light;
      font-size: $font-size-small;
    }
  }

  .list-media {
    margin-top: $space;
    width: 100%;

    .img {
      width: 100%;
      height: 0;
      padding-bottom: 65%;
    }
  }

  .list-text {
    margin-bottom: $space;
    height: $font-size * 1.5 * 4;

    p {
      line-height: $font-size * 1.5;
      font-size: $font-size;
    }
  }
}

.dy-list-1-1,
.dy-list-3-0 {
  .list-item {
    margin-bottom: $space;
    @extend .clearfix;
  }

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: $text-color;
      line-height: 30px;

      &:hover {
        color: $site-base;
      }
    }
  }

  .time {
    text-align: right;
    float: right;
    margin-left: $space * 0.5;
    line-height: 30px;
    color: $text-color-light;
    font-size: $font-size-small;
  }
}

.dy-list-2-0 {
  margin: 0;

  .head {
    @extend .clearfix;
    margin-bottom: 40px;

    h1 {
      float: left;
    }
  }

  .list-item {
    @extend .clearfix;
    margin-bottom: $space;
    width: 100%;
  }

  .item-l {
    width: 85px;
    float: left;
    margin-right: $space;

    .sign {
      padding-left: $space;
padding-right: $space;
      text-align: center;
      line-height: 30px;
      height: 30px;
      border-radius: 4px;
      color: #fff;

      &.bg-brown {
        background-color: #a38a49;
      }

      &.bg-blue {
        background-color: #333970;
      }

      &.bg-red {
        background-color: #e44c4c;
      }
    }

    .time {
      white-space: nowrap;
      margin-top: $space * 0.75;
      color: $text-color-light;
    }
  }

  .item-r {
    width: calc(100% - 85px - #{$space});
    float: right;

    .title {
      font-size: $h3;
      height: 48px;
      overflow: hidden;

      a {
        color: $text-color;
        line-height: 24px;

        &:hover {
          color: $site-base;
        }
      }
    }
  }

  .item-text {
    height: $font-size * 1.5 * 3;
    margin-top: $space * 0.75;

    p {
      color: $global-color-base;
      font-size: $font-size;
      line-height: $font-size * 1.5;
    }
  }
}

.dy-list-3-0 {
  .list-item {
    width: 100%;

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.dy-list-line {
  margin-top: $space;
margin-bottom: $space;

  hr {
    margin: 0 auto;
    max-width: $screen-xl;
    color: $text-color-light;
  }
}

.list-tooltip {
  @include box-shadow;
  background-color: #fff;
}

@media (min-width: $screen-sm) {
  .dy-list-1-0 {
    .dy-list-container {
      &:after {
        content: "";
        display: block;
        width: 100%;
        clear: both;
      }
    }

    .list-item {
      position: relative;
    }

    .list-body {
      width: 100%;

      &.has-media {
        float: left;
        width: calc(75% - #{$space} * 1);
      }

      .title {
        margin-bottom: $space;
      }
    }

    .list-media {
      margin-bottom: $space;
      width: 25%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;

      .img {
        width: 100%;
        height: 100%;
        padding: 0;
      }
    }
  }

  .dy-list-3-0 {
    .dy-list-container {
      &:after {
        content: "";
        display: block;
        width: 100%;
        clear: both;
      }
    }

    .list-item {
      float: left;
      width: calc((100% - #{$space} * 2)/2);

      &:nth-child(2n) {
        float: right;
      }
    }
  }
}

@media (min-width: $screen-md) {
  .dy-list-1-0 {
    .list-body {
      &.has-media {
        width: calc(75% - #{$space} * 3);
      }
    }
  }

  .dy-list-2-0 {
    .list-item {
      float: left;
      width: calc((100% - #{$space} *2)/3);
      margin-right: $space;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }

      &:after {
        content: "";
        display: block;
        width: 100%;
        clear: both;
      }
    }
  }

  .dy-list-3-0 {
    .list-item {
      width: calc((100% - #{$space} * 4)/2);
      float: left;

      &:nth-child(2n) {
        float: right;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .dy-list-1-0 {
    .list-body {
      &.has-media {
        width: calc(75% - #{$space} * 5);
      }
    }
  }

  .dy-list-2-0 {
    .list-item {
      width: calc((100% - #{$space} *2 * 3)/3);
      margin-right: $space * 3;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .dy-list-3-0 {
    .list-item {
      width: calc((100% - #{$space} * 6)/2);
      float: left;

      &:nth-child(2n) {
        float: right;
      }
    }
  }
}
