.spacing(@name, @size, @namePrefix: ~'') {
  .padding(@name, @size, @namePrefix);
  .margin(@name, @size, @namePrefix);
}

.padding(@name, @size, @namePrefix) {  
  each(#table.direction-abbreviation(), .(@vDirection, @kDirection) {
    .@{namePrefix}p@{kDirection}-@{name}{
      each(@vDirection, {
        padding-@{value}: @size;
      })
    }
  });

  .@{namePrefix}p-@{name}{
    padding: @size;
  }
}

.margin(@name, @size, @namePrefix: ~'', @useMinus: true) {
  each(#table.direction-abbreviation(), .(@vDirection, @kDirection) {
    .@{namePrefix}m@{kDirection}-@{name}{
      each(@vDirection, {
        margin-@{value}: @size;
      })
    }
  });

  .@{namePrefix}m-@{name}{
    margin: @size;
  }

  .margin-minus(@name, @size, @namePrefix, @useMinus);
}

.margin-minus(@name, @size, @namePrefix, @useMinus) when (@useMinus) and (@name > 0) {  
  each(#table.direction-abbreviation(), .(@vDirection, @kDirection) {
    .@{namePrefix}-m@{kDirection}-@{name}{
      each(@vDirection, {
        margin-@{value}: -@size;
      })
    }
  });  
  
  .@{namePrefix}-m-@{name}{
    margin: -@size;
  }
}