.transform-scale(@name, @value){
  .scale-x-@{name} {
    transform: scaleX(@value);
  }

  .scale-y-@{name} {
    transform: scaleY(@value);
  }

  .scale-@{name}{
    transform: scale(@value);
  }
};
.transform-scale-hover(@name, @value){
  .hover:hover .hover\:scale-x-@{name},
  .hover\:scale-x-@{name}:hover {
    transform: scaleX(@value);
  }

  .hover:hover .hover\:scale-y-@{name},
  .hover\:scale-y-@{name}:hover {
    transform: scaleY(@value);
  }

  .hover:hover .hover\:scale-@{name},
  .hover\:scale-@{name}:hover {
    transform: scale(@value);
  }
}

.transform-rotate(@name, @angle){
  .rotate-@{name} {
    transform: rotate(@angle);
  }
  .-rotate-@{name} {
    transform: rotate(@angle * -1);
  }
}
.transform-rotate-hover(@name, @angle){
  .hover:hover .hover\:rotate-@{name},
  .hover\:rotate-@{name}:hover {
    transform: rotate(@angle);
  }
  .hover:hover .hover\:-rotate-@{name},
  .hover\:-rotate-@{name}:hover {
    transform: rotate(@angle * -1);
  }
}

.transform-translate(@name, @size, @namePrefix: ~'') {
  .@{namePrefix}translate-x-@{name} {
    transform: translateX(@size);
  }
  .@{namePrefix}translate-y-@{name} {
    transform: translateY(@size);
  }
  .@{namePrefix}translate-@{name} {
    transform: translate(@size, @size);
  }
  .@{namePrefix}-translate-x-@{name} {
    transform: translateX(@size * -1);
  }
  .@{namePrefix}-translate-y-@{name} {
    transform: translateY(@size * -1);
  }
  .@{namePrefix}-translate-@{name} {
    transform: translate(@size * -1, @size * -1);
  }
}
