.truncate-line(@line, @fontSize: 1rem, @lineHeight: 1.5, @namePrefix: ~'') {
  .truncate-@{line} {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    -webkit-line-clamp: @line;
    height: @fontSize * @lineHeight * @line;
  }
}
.truncate-line-hover(@line, @fontSize: 1rem, @lineHeight: 1.5, @namePrefix: ~'') {
  .hover:hover .@{namePrefix}hover\|truncate-@{line},
  .@{namePrefix}hover\|truncate-@{line}:hover {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    -webkit-line-clamp: @line;
    height: @fontSize * @lineHeight * @line;
  }
}

.text-color(@name, @color) {
  .text-@{name}{
    color: @color;
  }
}
.text-color-hover(@name, @color) {
  .hover:hover .hover\|text-@{name},
  .hover\|text-@{name}:hover{
    color: @color;
  }
}