// origin 
.origin-center {
  transform-origin: center;
}
.origin-top {
  transform-origin: top;
}
.origin-top-right {
  transform-origin: top right;
}
.origin-right {
  transform-origin: right;
}
.origin-bottom-right {
  transform-origin: bottom right;
}
.origin-bottom {
  transform-origin: bottom;
}
.origin-bottom-left {
  transform-origin: bottom left;
}
.origin-left {
  transform-origin: left;
}
.origin-top-left {
  transform-origin: top left;
}

// scale with hover
.transform-scale(105, 1.05);
.transform-scale-hover(105, 1.05);

// rotate
.transform-rotate(90, 90deg);
.transform-rotate(180, 180deg);
.transform-rotate(360, 360deg);
.transform-rotate-hover(90, 90deg);
.transform-rotate-hover(180, 180deg);
.transform-rotate-hover(360, 360deg);

// translate
.transform-translate(~'1\/2', 50%);
each(#table.responsive(), .(@vResponsive, @kResponsive) {
  @screenName: ~'screen-@{kResponsive}';
  @namePrefix: ~'@{kResponsive}\:';

  @media (min-width: @@screenName) {
    .transform-translate(~'1\/2', 50%, @namePrefix);
  }
})