<div class="">
  <div class="row outside-b">
    <div class="col-sm-4">
      .size-lr / @font-size-larger
    </div>
    <div class="col-sm-8">
      <p class="size-lr">欢迎访问戴文发行版UI设计说明</p>
    </div>
  </div>
  <div class="row outside-b">
    <div class="col-sm-4">
      .size-l / @font-size-larg
    </div>
    <div class="col-sm-8">
      <p class="size-l">欢迎访问戴文发行版UI设计说明</p>
    </div>
  </div>
  <div class="row outside-b">
    <div class="col-sm-4">
      .size-b / @font-size
    </div>
    <div class="col-sm-8">
      <p class="size-b">欢迎访问戴文发行版UI设计说明</p>
    </div>
  </div>
  <div class="row outside-b">
    <div class="col-sm-4">
      .size-s / @font-size-small
    </div>
    <div class="col-sm-8">
      <p class="size-s">欢迎访问戴文发行版UI设计说明</p>
    </div>
  </div>
  <div class="row outside-b">
    <div class="col-sm-4">
      .size-m / @font-size-mini
    </div>
    <div class="col-sm-8">
      <p class="size-m">欢迎访问戴文发行版UI设计说明</p>
    </div>
  </div>
</div>
