<div class="">
  <div class="row outside-tb">
    <div class="col-sm-2">
      默认文本:
      <br><code>.text-base</code>
    </div>
    <div class="col-sm-10">
      <p class="text-base">盼望着，盼望着，东风来了，春天的脚步近了。一切都像刚睡醒的样子，欣欣然张开了眼。山朗润起来了，水涨起来了，太阳的脸红起来了。</p>
    </div>
  </div>
  <div class="row outside-tb">
    <div class="col-sm-2">主色:
      <br><code>.text-color-primary</code>
    </div>
    <div class="col-sm-10">
      <p class="text-color-primary">盼望着，盼望着，东风来了，春天的脚步近了。一切都像刚睡醒的样子，欣欣然张开了眼。山朗润起来了，水涨起来了，太阳的脸红起来了。</p>
    </div>
  </div>
  <div class="row outside-tb">
    <div class="col-sm-2">成功类:
      <br><code>.text-color-success</code>
    </div>
    <div class="col-sm-10">
      <p class="text-color-success">盼望着，盼望着，东风来了，春天的脚步近了。一切都像刚睡醒的样子，欣欣然张开了眼。山朗润起来了，水涨起来了，太阳的脸红起来了。</p>
    </div>
  </div>
  <div class="row outside-tb">
    <div class="col-sm-2">信息类:
      <br><code>.text-color-info</code>
    </div>
    <div class="col-sm-10">
      <p class="text-color-info">盼望着，盼望着，东风来了，春天的脚步近了。一切都像刚睡醒的样子，欣欣然张开了眼。山朗润起来了，水涨起来了，太阳的脸红起来了。</p>
    </div>
  </div>
  <div class="row outside-tb">
    <div class="col-sm-2">警告类:
      <br><code>.text-color-warning</code>
    </div>
    <div class="col-sm-10">
      <p class="text-color-warning">盼望着，盼望着，东风来了，春天的脚步近了。一切都像刚睡醒的样子，欣欣然张开了眼。山朗润起来了，水涨起来了，太阳的脸红起来了。</p>
    </div>
  </div>
  <div class="row outside-tb">
    <div class="col-sm-2">错误类:
      <br><code>.text-color-error</code>
    </div>
    <div class="col-sm-10">
      <p class="text-color-error">盼望着，盼望着，东风来了，春天的脚步近了。一切都像刚睡醒的样子，欣欣然张开了眼。山朗润起来了，水涨起来了，太阳的脸红起来了。</p>
    </div>
  </div>
  <div class="row outside-tb">
    <div class="col-sm-2">浅色:
      <br>
      <br><code>.text-light</code>
    </div>
    <div class="col-sm-10">
      <p class="text-light">盼望着，盼望着，东风来了，春天的脚步近了。一切都像刚睡醒的样子，欣欣然张开了眼。山朗润起来了，水涨起来了，太阳的脸红起来了。</p>
    </div>
  </div>
  <div class="row outside-tb">
    <div class="col-sm-2">更浅色:
      <br>
      <br><code>.text-lighter</code>
    </div>
    <div class="col-sm-10">
      <p class="text-lighter bg-color-primary inside-min">
        盼望着，盼望着，东风来了，春天的脚步近了。一切都像刚睡醒的样子，欣欣然张开了眼。山朗润起来了，水涨起来了，太阳的脸红起来了。</p>
    </div>
  </div>
  <div class="row outside-tb">
    <div class="col-sm-2">白色:
      <br>
      <code>#ffffff</code>
    </div>
    <div class="col-sm-10">
      <p class="text-white bg-color-primary inside-min">
        盼望着，盼望着，东风来了，春天的脚步近了。一切都像刚睡醒的样子，欣欣然张开了眼。山朗润起来了，水涨起来了，太阳的脸红起来了。</p>
    </div>
  </div>
  <div class="row outside-tb">
    <div class="col-sm-2">黑色:
      <br>
      <code>#000000</code>
    </div>
    <div class="col-sm-10">
      <p class="text-black">盼望着，盼望着，东风来了，春天的脚步近了。一切都像刚睡醒的样子，欣欣然张开了眼。山朗润起来了，水涨起来了，太阳的脸红起来了。</p>
    </div>
  </div>
  <div class="row outside-tb">
    <div class="col-sm-2">文本省略
      <br>
      <code>.text-ellipsis</code>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-4">
          <p class="one-line">盼望着，盼望着，东风来了，春天的脚步近了。一切都像刚睡醒的样子，欣欣然张开了眼。山朗润起来了，水涨起来了，太阳的脸红起来了。</p>
        </div>
        <div class="col-sm-4">
          <p class="two-line">盼望着，盼望着，东风来了，春天的脚步近了。一切都像刚睡醒的样子，欣欣然张开了眼。山朗润起来了，水涨起来了，太阳的脸红起来了。</p>
        </div>
        <div class="col-sm-4">
          <p class="three-line">盼望着，盼望着，东风来了，春天的脚步近了。一切都像刚睡醒的样子，欣欣然张开了眼。山朗润起来了，水涨起来了，太阳的脸红起来了。</p>
        </div>
      </div>
    </div>
  </div>
</div>
