<table class="m-0 w-full">
  <thead>
    <tr>
      <th>引用方式</th>
      <th>字体大小</th>
      <th>正常效果</th>
      <th>加粗效果</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>@h1/h1/.h1</span>
      </td>
      <td>36px</td>
      <td>
        <h1>H1 标题 Heading</h1>
      </td>
      <td>
        <h1 class="bold">H1 标题 Heading</h1>
      </td>
    </tr>
    <tr>
      <td>
        <span>@h2/h2/.h2</span>
      </td>
      <td>30px</td>
      <td>
        <h2>H2 标题 Heading</h2>
      </td>
      <td>
        <h2 class="bold">H2 标题 Heading</h2>
      </td>
    </tr>
    <tr>
      <td>
        <span>@h3/h3/.h3</span>
      </td>
      <td>24px</td>
      <td>
        <h3>H3 标题 Heading</h3>
      </td>
      <td>
        <h3 class="bold">H3 标题 Heading</h3>
      </td>
    </tr>
    <tr>
      <td>
        <span>@h4/h4/.h4</span>
      </td>
      <td>18px</td>
      <td>
        <h4>H4 标题 Heading</h4>
      </td>
      <td>
        <h4 class="bold">H4 标题 Heading</h4>
      </td>
    </tr>
    <tr>
      <td>
        <span>@h5/h5/.h5</span>
      </td>
      <td>14px</td>
      <td>
        <h5>H5 标题 Heading</h5>
      </td>
      <td>
        <h5 class="bold">H5 标题 Heading</h5>
      </td>
    </tr>
    <tr>
      <td>
        <span>@h6/h6/.h6</span>
      </td>
      <td>12px</td>
      <td>
        <h6>H6 标题 Heading</h6>
      </td>
      <td>
        <h6 class="bold">H6 标题 Heading</h6>
      </td>
    </tr>
  </tbody>
</table>
