html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,
.h1 {
  font-size: $h1;
}

h2,
.h2 {
  font-size: $h2;
}

h3,
.h3 {
  font-size: $h3;
}

h4,
.h4 {
  font-size: $h4;
}

h5,
.h5 {
  font-size: $h5;
}

h6,
.h6 {
  font-size: $h6;
}

small,
.small {
  font-size: 85%;
}

figure {
  @extend .outside-min-tb;
  margin-left: $space;
margin-right: $space;
}

figcaption {
  @extend .inside-min-tb;
}

hr {
  border: 0;
  height: 1px;
  margin: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.12);
  flex-shrink: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

code,
kbd,
pre,
samp,
blockquote {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace, $font-family;
}

blockquote {
  box-sizing: border-box;
  color: $text-color-light;
  display: block;
  position: relative;
  padding: 14px 21px 14px 42px;
  margin: 14px 0;

  p {
    color: $text-color-light;
  }

  &:before,
  &:after {
    font-family: arial;
    color: $bg-light;
    font-size: 300%;
    line-height: 1;
    position: absolute;
  }

  &:before {
    content: '"';
    left: 14px;
    top: 14px;
  }
}

td {
  code {
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: $color-error;
  background-color: #f9f2f4;
  border-radius: 4px;
}
