<div class="dy-hero-wrapper dy-hero-5" style="background-image: linear-gradient(rgba(17, 19, 20, 0.73),rgba(17, 19, 20, 0.73)),url('/themes/custom/dyniva_ui/templates/ui/images/hero/imgv5.png');">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="t-c text-white inside outside-tb">
        <h2 class="inside-tb text-white">Drupal开发专家，让您的应用快速落地</h2>
        <div class="dy-hero-text outside-c-t size-l text-white">
          <p>
            移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。无纸化的培训管理，连接线上和线下，节约管理成本，提升培训效率。
          </p>
        </div>
        <div class="outside-min-tb">
          <input style="display: inline-block;" type="text" class="form-text form-element-transparent form-element-radius outside-min" value="你的电子邮件" placeholder="form text transparent">
          <a href="#" class="btn btn-info btn-ele-circle">免费开始</a>
        </div>
      </div>
    </div>
  </div>
</div>
