<div class="dy-hero-wrapper dy-hero-8" style="background-image: url('/themes/custom/dyniva_ui/templates/ui/images/hero/imgv8.png');">
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-1">
      <div class="t-l inside outside-tb">
        <h1 class="inside-b text-white">Drupal开发专家，让您的应用快速落地</h1>
        <div class="dy-hero-text outside-c-t size-l text-light">
          <p>
            移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。无纸化的培训管理，连接线上和线下，节约管理成本，提升培训效率。
          </p>
        </div>
        <a href="#" class="btn btn-info btn-ele-circle inside-min-tb inside-lr">开始免费试用</a>
        <div class="outside-tb">
          <span class="text-light">或者</span>
          <a href="#" class="underline">请求演示</a>
        </div>
      </div>
    </div>
  </div>
</div>
