<div class="dy-hero-wrapper dy-hero-4" style="background-image: linear-gradient(rgba(255, 255, 255, 0.78),rgba(255, 255, 255, 0.78)),url('/themes/custom/dyniva_ui/templates/ui/images/hero/imgv4.png');">
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-1">
      <div class="t-l inside outside-tb">
        <h2 class="inside-b text-white">Drupal开发专家，让您的应用快速落地</h2>
        <div class="dy-hero-text outside-c-t size-l">
          <p>
            移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。无纸化的培训管理，连接线上和线下，节约管理成本，提升培训效率。
          </p>
        </div>
        <div class="inside-t">
          <a href="#" class="btn btn-info btn-ele-circle outside-r">免费试用</a>
          {#<span class="outside-r" style="vertical-align: middle;">播放概述视频</span>#}
          <i style="vertical-align: middle;" class="size-lr icon"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <img src="/themes/custom/dyniva_ui/templates/ui/images/hero/macbook-double-click-to-edit.png" alt="">
    </div>
  </div>
</div>
