{{- attach_library('dyniva_ui/common.parallax') -}}
<div class="bg-center position-relative" style="height:400px; background-image:url(/themes/custom/dyniva_ui/templates/ui/images/light/light-03.jpg)">
  <div class="fill-full-width skrollable skrollable-before" data-top="background-color:rgba(0,0,0,0.2);" data-top-bottom="background-color:rgba(0,0,0,0);" style="background-color: rgba(0, 0, 0, 0.2);"></div>
  <h2 class="inside text-white position-relative">Dyniva UI</h2>
</div>
