<div class="{{ classes }} bg-contain bg-no-repeat border-xy position-relative p-20 font-bold" 
  style="padding-top: calc(100% - 41px); background-image:url(/themes/custom/dyniva_ui/templates/ui/images/light/light-18.jpg); background-size: 75%"
>
  {{ label }}
</div>
