{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{% block header %}
{% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">色彩系统</h1>
    <h5 class="title">现代的色彩系统可以帮助您创建出品牌或者风格的颜色主题。</h5>
  </div>
</div>

<div class="panel panel-ui panel-ui-color">
  <section class="dy-components" id="colors-rule">
    <h2 class="section-header inner">原则规范</h2>
    <div class="section-item inner">
      <div class="row">
        <div class="col-md-6 title-box">
          <h4 class="title">层次</h4>
          <p class="rules">颜色表示哪些元素是可交互的，它们与页面上其他元素的关系和重要程度，重要的元素应该突出显示。</p>
        </div>
        <div class="col-md-6 title-box">
          <h4 class="title">清晰易读</h4>
          <p class="rules">文字和重要元素（例如图标）在有背景的元素上都应该清晰易读。</p>
        </div>
      </div>
    </div>
    {% block colorsRule %}{% endblock %}
  </section>

  <section class="dy-components" id="colors-primary">
    <h2 class="section-header inner">主要颜色</h2>
    <div class="section-item title-box">
      <h4 class="title inner">应用</h4>
      <p class="rules inner">主要颜色包括主色调、主色调辅助色调、背景颜色、文字颜色、边框颜色等常用的颜色。</p>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-sm-5 clearfix">
            <div class="panel-ui-block panel-ui-pick-color-primary">
              <div class="badge"></div>
              <div class="outside-t">
                <h2 class="outside-b">主色</h2>
                {# <h3 class="outside-b">#1b72b1</h3> #}
                <p class="">页面和组件中使用最频繁的颜色，可以使用来强调元素。</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 clearfix">
            <div class="panel-ui-block panel-ui-global-color-dark">
              <div class="badge"></div>
              <div class="panel-ui-global-color-base outside-t">
                <h2 class="outside-b">黑色</h2>
                {# <h3 class="outside-b">#333333</h3> #}
                <p>默认文字颜色</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 clearfix">
            <div class="panel-ui-block panel-ui-border-color">
              <div class="badge"></div>
              <div class="outside-t">
                <h2 class="outside-b">浅灰色</h2>
                {# <h3 class="outside-b">#f5f5f5</h3> #}
                <p>使用在组件背景色，不应使用在文本字体颜色。</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 clearfix">
            <div class="panel-ui-block panel-ui-global-color-white">
              <div class="badge border-shadow"></div>
              <div class="outside-t">
                <h2 class="outside-b">白色</h2>
                {# <h3 class="outside-b">#ffffff</h3> #}
                <p>默认背景色，当组件使用深色背景色时，作为文字的颜色。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block colorsPrimary %}{% endblock %}
  </section>

  <section class="dy-components" id="colors-second">
    <h2 class="section-header inner">次要颜色</h2>
    <div class="section-item title-box">
      <h4 class="title inner">应用</h4>
      <p class="rules inner">次要颜色提供了更多的方式来强调和区分组件，辅助色是可选的，如果没有辅助色可使用主色; 浮动按钮、选择控件、突出所选文本、进度条、链接和标题</p>
      <div class="dy-components-demo inner">
        <div class="col-sm-5 clearfix">
          <div class="panel-ui-block panel-ui-pick-color-light">
            <div class="badge"></div>
          </div>
        </div>
      </div>

    </div>
    {% block colorsSecond %}{% endblock %}
  </section>

  <section class="dy-components" id="colors-status">
    <h2 class="section-header inner">状态颜色</h2>
    <div class="section-item title-box">
      <h4 class="title inner">应用</h4>
      <p class="rules inner">状态展示颜色，交互状态颜色</p>
      <div class="dy-components-demo inner">
        <div class="inner">
          <div class="col-sm-5 clearfix">
            <div class="panel-ui-block panel-ui-pick-color-success">
              <div class="badge"></div>
              <div class="outside-t">
                <h2 class="outside-b">成功</h2>
                {# <h3 class="outside-b">#4caf50</h3> #}
                <p class="">成功信息提示的文字颜色</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 clearfix">
            <div class="panel-ui-block panel-ui-pick-color-info">
              <div class="badge"></div>
              <div class="outside-t">
                <h2 class="outside-b">一般信息</h2>
                {# <h3 class="outside-b">#03a9f4</h3> #}
                <p class="">一般信息提示的文字颜色</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 clearfix">
            <div class="panel-ui-block panel-ui-pick-color-warning">
              <div class="badge"></div>
              <div class="outside-t">
                <h2 class="outside-b">警告</h2>
                {# <h3 class="outside-b">#fbc02d</h3> #}
                <p class="">警告信息提示的文字颜色</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 clearfix">
            <div class="panel-ui-block panel-ui-pick-color-error">
              <div class="badge"></div>
              <div class="outside-t">
                <h2 class="outside-b">错误</h2>
                {# <h3 class="outside-b">#F44339</h3> #}
                <p class="">错误信息提示的文字颜色</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block colorsStatus %}{% endblock %}
  </section>

  {% block section %}{% endblock %}
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
