{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{% block header %}
  {% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">工具提示</h1>
    <h5 class="title">鼠标经过会显示内容，可自定义显示的方向。</h5>
  </div>
</div>

<div class="panel panel-ui">
  <section class="dy-components" id="tooltip">
    <h2 class="section-header inner">工具提示</h2>

    <div class="section-item title-box">
      <h4 class="title inner">静态展示</h4>
      <p class="rules inner"></p>
      <div class="dy-components-demo inner">
        <div class="dy-header-wrapper">
          <a class="btn btn-base btn-ele btn-radius btn-icon" href="#" data-toggle="bsTooltip" data-placement="left"
             title="内容显示在左边">
            <i class="icon">&#xe604;</i> Dyniva UI</a>
          <a class="btn btn-info btn-ele btn-radius btn-icon" href="#" data-toggle="bsTooltip" data-placement="top"
             title="内容显示在上边">
            <i class="icon">&#xe625;</i> Dyniva UI
          </a>
          <a class="btn btn-warning btn-ele btn-radius btn-icon" href="#" data-toggle="bsTooltip"
             data-placement="bottom" title="内容显示在下边">
            <i class="icon">&#xe612;</i> Dyniva UI
          </a>
          <a class="btn btn-gray btn-ele btn-radius btn-icon" href="#" data-toggle="bsTooltip" data-placement="right"
             data-title="内容显示在右边">
            <i class="icon">&#xe613;</i> Dyniva UI
          </a>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<a class="btn btn-base btn-ele btn-radius btn-icon" href="#" data-toggle="bsTooltip" data-placement="left" title="内容显示在左边">
  <i class="icon">&#xe604;</i> Dyniva UI
 </a>

<a class="btn btn-info btn-ele btn-radius btn-icon" href="#" data-toggle="bsTooltip" data-placement="top" title="内容显示在上边">
  <i class="icon">&#xe625;</i> Dyniva UI
</a>

<a class="btn btn-warning btn-ele btn-radius btn-icon" href="#" data-toggle="bsTooltip" data-placement="bottom" title="内容显示在下边">
  <i class="icon">&#xe612;</i> Dyniva UI
</a>

<a class="btn btn-gray btn-ele btn-radius btn-icon" href="#" data-toggle="bsTooltip" data-placement="right" data-title="内容显示在右边">
  <i class="icon">&#xe613;</i> Dyniva UI
</a>
                  ' %}
            <pre class="prettyprint lang-html">
                  {{ blocks }}
                  </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>属性</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>[data-toggle="bsTooltip"]</code></td>
                <td>启用bootstrap-tooltip</td>
              </tr>
              <tr>
                <td><code>[data-placement="bottom"]</code></td>
                <td>tooltip显示在内容哪个方向; top: 顶部, bottom: 底部, left: 左侧, right: 右侧</td>
              </tr>
              <tr>
              <tr>
                <td><code>[data-container="body"]</code></td>
                <td>tooltip显示的容器(此处为选择器)</td>
              </tr>
              <tr>
                <td><code>[data-trigger="click"]</code></td>
                <td>tooltip触发的方式; 默认是hover显示</td>
              </tr>
              <tr>
                <td><code>[data-html="true"]</code></td>
                <td>boolean值,显示的内容是否为html内容,默认false以字符串形式输出</td>
              </tr>
              <tr>
                <td><code>[data-title="tooltip显示内容"] or [title="tooltip显示内容"]</code></td>
                <td>tooltip显示的内容</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% block tooltip %}{% endblock %}
  </section>

  {% block section %}{% endblock %}
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
