{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{% block header %}
{% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}
{{ attach_library('dyniva_ui/laydate') }}
<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">时间和日历</h1>
    <h5 class="title">时间日期选择器，支持范围选择，可开启公历节日或者标记时间节点。</h5>
  </div>
</div>

<div class="panel panel-ui">
  <section class="dy-components" id="time-picker">
    <h2 class="section-header inner">时间选择器</h2>

    <div class="section-item title-box">
      <h4 class="title inner">直接嵌套显示</h4>
      <p class="rules inner"></p>
      <div class="dy-components-demo inner">
        <div class="dy-header-wrapper row">
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"position": "static"}',
              notInput: true,
              attr: 'data-name="true"'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"position": "static", "lang": "en"}',
              notInput: true
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"position": "static", "type": "month"}',
              notInput: true
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"position": "static", "type": "time"}',
              notInput: true
            } %}
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            <pre class="prettyprint lang-html">
              {%- filter escape('html_attr') -%}
                {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                  options: '{"position": "static"}',
                  notInput: true
                } %}

                {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                  options: '{"position": "static", "lang": "en"}',
                  notInput: true
                } %}

                {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                  options: '{"position": "static", "type": "month"}',
                  notInput: true
                } %}

                {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                  options: '{"position": "static", "type": "time"}',
                  notInput: true
                } %}
              {%- endfilter -%}
            </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>属性</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>{"position": "static"}</code></td>
                <td>静态显示在页面上</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {# end section #}

    <div class="section-item title-box">
      <h4 class="title inner">年月日</h4>
      <p class="rules inner"></p>
      <div class="dy-components-demo inner">
        <div class="dy-header-wrapper row">
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"type": "year"}',
              placeholder: 'yyyy',
              label: '年选择器'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"type": "month"}',
              placeholder: 'yyyy-MM',
              label: '年月选择器'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"type": "time"}',
              placeholder: 'HH:mm:ss',
              label: '时间选择器'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{}',
              placeholder: 'yyy-MM-dd',
              label: '年月日选择器'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"lang": "en"}',
              placeholder: 'yyy-MM-dd',
              label: '英文版'
            } %}
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            <pre class="prettyprint lang-html">
              {%- filter escape -%}
                {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                  options: '{"type": "year"}',
                  placeholder: 'yyyy',
                  label: '年选择器'
                } %}

                {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                  options: '{"type": "month"}',
                  placeholder: 'yyyy-MM',
                  label: '年月选择器'
                } %}

                {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                  options: '{"type": "time"}',
                  placeholder: 'HH:mm:ss',
                  label: '时间选择器'
                } %}

                {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                  options: '{}',
                  placeholder: 'yyy-MM-dd',
                  label: '年月日选择器'
                } %}

                {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                  options: '{"lang": "en"}',
                  placeholder: 'yyy-MM-dd',
                  label: '英文版'
                } %}
              {%- endfilter -%}
            </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>属性</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>data-toggle="date"</code></td>
                <td>标记时间对象</td>
              </tr>
              <tr>
                <td><code>{"type": "year"}</code></td>
                <td>年选择器</td>
              </tr>
              <tr>
                <td><code>{"type": "month"}</code></td>
                <td>月选择器</td>
              </tr>
              <tr>
                <td><code>data-toggle="date"</code></td>
                <td>标记时间对象</td>
              </tr>
              <tr>
                <td><code>{"type": "time"}</code></td>
                <td>时间选择器</td>
              </tr>
              <tr>
                <td><code>{"lang": "en"}</code></td>
                <td>英文版</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {# end section #}

    <div class="section-item title-box">
      <h4 class="title inner">范围选择器</h4>
      <p class="rules inner"></p>
      <div class="dy-components-demo inner">
        <div class="dy-header-wrapper row">
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"range": true}',
              placeholder: ' - ',
              label: '日期范围'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"type": "year", "range": true}',
              placeholder: ' - ',
              label: '年范围'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"type": "month", "range": true}',
              placeholder: ' - ',
              label: '年月范围'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"type": "time", "range": true}',
              placeholder: ' - ',
              label: '时间范围'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"type": "datetime", "range": true}',
              placeholder: ' - ',
              label: '日期时间范围'
            } %}
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            <pre class="prettyprint lang-html">
              {%- filter escape -%}
                {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                  options: '{"range": true}',
                  placeholder: ' - ',
                  label: '日期范围'
                } %}

                {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                  options: '{"type": "year", "range": true}',
                  placeholder: ' - ',
                  label: '年范围'
                } %}

                {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                  options: '{"type": "month", "range": true}',
                  placeholder: ' - ',
                  label: '年月范围'
                } %}

                {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                  options: '{"type": "time", "range": true}',
                  placeholder: ' - ',
                  label: '时间范围'
                } %}

                {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                  options: '{"type": "datetime", "range": true}',
                  placeholder: ' - ',
                  label: '日期时间范围'
                } %}
              {%- endfilter -%}
            </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>属性</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>data-toggle="date"</code></td>
                <td>标记时间对象</td>
              </tr>
              <tr>
                <td><code>{"range": true}</code></td>
                <td>开启日期范围</td>
              </tr>
              <tr>
                <td><code>{"type": "year", "range": true}</code></td>
                <td>开启年范围</td>
              </tr>
              <tr>
                <td><code>{"type": "month", "range": true}</code></td>
                <td>开启月范围</td>
              </tr>
              <tr>
                <td><code>{"type": "time", "range": true}</code></td>
                <td>开始时间范围</td>
              </tr>
              <tr>
                <td><code>{"type": "datetime", "range": true}</code></td>
                <td>开启日期时间范围</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {# end section #}

    <div class="section-item title-box">
      <h4 class="title inner">自定义格式</h4>
      <p class="rules inner"></p>
      <div class="dy-components-demo inner">
        <div class="dy-header-wrapper row">
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"format": "yyyy年MM月dd日"}',
              placeholder: 'yyyy年MM月dd日',
              label: '请选择日期'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"format": "dd/MM/yyyy"}',
              placeholder: 'dd/MM/yyyy',
              label: '请选择日期'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"format": "yyyyMM"}',
              placeholder: 'yyyyMM',
              label: '请选择月份'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"type": "time", "format": "H点M分"}',
              placeholder: 'H点M分',
              label: '请选择时间'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"type": "month", "range": "→", "format": "yyyy-MM"}',
              placeholder: ' ~ ',
              label: '请选择范围'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"type": "datetime", "range": "到", "format": "yyyy年M月d日H时m分s秒"}',
              placeholder: '开始 到 结束',
              label: '请选择范围'
            } %}
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{"format": "yyyy年MM月dd日"}',
                placeholder: 'yyyy年MM月dd日',
                label: '请选择日期'
              } %}

              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{"format": "dd/MM/yyyy"}',
                placeholder: 'dd/MM/yyyy',
                label: '请选择日期'
              } %}

              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{"format": "yyyyMM"}',
                placeholder: 'yyyyMM',
                label: '请选择月份'
              } %}

              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{"type": "time", "format": "H点M分"}',
                placeholder: 'H点M分',
                label: '请选择时间'
              } %}

              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{"type": "month", "range": "→", "format": "yyyy-MM"}',
                placeholder: ' ~ ',
                label: '请选择范围'
              } %}

              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{"type": "datetime", "range": "到", "format": "yyyy年M月d日H时m分s秒"}',
                placeholder: '开始 到 结束',
                label: '请选择范围'
              } %}
            {%- endfilter -%}
            </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>属性</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>data-toggle="date"</code></td>
                <td>标记时间对象</td>
              </tr>
              <tr>
                <td><code>{"format": "yyyy年MM月dd日"}</code></td>
                <td>示例：2019年11月20日</td>
              </tr>
              <tr>
                <td><code>{"format": "dd/MM/yyyy"}</code></td>
                <td>示例：20/11/2019</td>
              </tr>
              <tr>
                <td><code>{"format": "yyyy/MM"}</code></td>
                <td>示例：2019/11</td>
              </tr>
              <tr>
                <td><code>{"type": "time", "format": "H点M分"}</code></td>
                <td>示例：16点11分</td>
              </tr>
              <tr>
                <td><code>{"type": "month", "range": "→", "format": "yyyy-MM"}</code></td>
                <td>示例：2019-03 → 2019-06</td>
              </tr>
              <tr>
                <td><code>{"type": "datetime", "range": "到", "format": "yyyy年M月d日H时m分s秒"}</code></td>
                <td>示例：2019年11月8日0时0分0秒 到 2019年12月17日0时0分0秒</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {# end section #}

    <div class="section-item title-box">
      <h4 class="title inner">时间标记</h4>
      <p class="rules inner"></p>
      <div class="dy-components-demo inner">
        <div class="dy-header-wrapper row">
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"calendar": true}',
              placeholder: 'yyyy-MM-dd',
              label: '公历节日'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{}',
              placeholder: 'dd/MM/yyyy',
              mark: '{"0-0-8":"工资", "0-0-15":"月中"}',
              label: '节点标记'
            } %}
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{"calendar": true}',
                placeholder: 'yyyy-MM-dd',
                label: '公历节日'
              } %}

              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{}',
                placeholder: 'dd/MM/yyyy',
                mark: '{"0-0-8":"工资", "0-0-15":"月中"}',
                label: '节点标记'
              } %}
            {%- endfilter -%}
            </pre>
          </div>
        </div>
      </div>
    </div>
    {# end section #}

    <div class="section-item title-box">
      <h4 class="title inner">控制可选日期与时间</h4>
      <p class="rules inner"></p>
      <div class="dy-components-demo inner">
        <div class="dy-header-wrapper row">
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"min": "2019-10-01", "max": "2020-01-01"}',
              placeholder: 'yyyy-MM-dd',
              label: '限定可选日期'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"min": -7, "max": 7}',
              placeholder: 'yyyy-MM-dd',
              label: '前后若干天可选'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"type": "time", "min": "09:30:00", "max": "18:00:00"}',
              placeholder: 'HH:mm:ss',
              label: '限定可选时间'
            } %}
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{"min": "2019-10-01", "max": "2020-01-01"}',
                placeholder: 'yyyy-MM-dd',
                label: '限定可选日期'
              } %}

              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{"min": -7, "max": 7}',
                placeholder: 'yyyy-MM-dd',
                label: '前后若干天可选'
              } %}

              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{"type": "time", "min": "09:30:00", "max": "18:00:00"}',
                placeholder: 'HH:mm:ss',
                label: '限定可选时间'
              } %}
            {%- endfilter -%}
            </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>属性</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>data-toggle="date"</code></td>
                <td>标记时间对象</td>
              </tr>
              <tr>
                <td><code>{"min": "2019-10-01", "max": "2020-01-01"}</code></td>
                <td>限定可选日期</td>
              </tr>
              <tr>
                <td><code>{"min": -7, "max": 7}</code></td>
                <td>前后七天可选</td>
              </tr>
              <tr>
                <td><code>{"type": "time", "min": "09:30:00", "max": "18:00:00"}</code></td>
                <td>限定可选时间</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {# end section #}

    <div class="section-item title-box">
      <h4 class="title inner">其他类型</h4>
      <p class="rules inner">其他可定制类型，详细参数参阅：
        <a href="https://www.layui.com/doc/modules/laydate.html" target="_blank">https://www.layui.com/doc/modules/laydate.html</a>
      </p>
      <div class="dy-components-demo inner">
        <div class="dy-header-wrapper row">
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"value": "2019-11-20"}',
              placeholder: 'yyyy-MM-dd',
              label: '初始赋值'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"showBottom": false}',
              placeholder: 'yyyy-MM-dd',
              label: '不出现底部工具栏'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{"btns": ["clear","confirm"]}',
              placeholder: 'yyyy-MM-dd',
              label: '只出现确定和清空按钮'
            } %}
          </div>
          <div class="col-md-4 outside-tb">
            {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
              options: '{}',
              notInput: true,
              placeholder: '2020-05-20',
              class: 'inside-min border-xy',
              label: '非 input 元素'
            } %}
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{"value": "2019-11-20"}',
                placeholder: 'yyyy-MM-dd',
                label: '初始赋值'
              } %}

              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{"showBottom": false}',
                placeholder: 'yyyy-MM-dd',
                label: '不出现底部工具栏'
              } %}

              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{"btns": ["clear","confirm"]}',
                placeholder: 'yyyy-MM-dd',
                label: '只出现确定和清空按钮'
              } %}

              {% include'@dyniva_ui/ui/modules/calendar/dy-calendar-base.html.twig' with{
                options: '{}',
                notInput: true,
                placeholder: '2020-05-20',
                class: 'inside-min border-xy',
                label: '非 input 元素'
              } %}
            {%- endfilter -%}
            </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>属性</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>data-toggle="date"</code></td>
                <td>标记时间对象</td>
              </tr>
              <tr>
              <tr>
                <td><code>{"value": "2019-11-20"}</code></td>
                <td>赋初始值</td>
              </tr>
                <td><code>{"btns": ["confirm","clear"]}</code></td>
                <td>自定义按钮：支持三个按钮 clear、now、confirm</td>
              </tr>
              <tr>
                <td><code>{"showBottom": false}</code></td>
                <td>不显示底部按钮工具栏</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {# end section #}
    {% block timePicker %}{% endblock %}
  </section>

  {# sub theme components extend here dont remove section block #}
  {% block section %}{% endblock %}
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
