{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{% block header %}
{% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">头条</h1>
    <h5 class="title">头条是用户看到第一个最重要的页面组件，通常包含大标题、描述和大背景图。</h5>
  </div>
</div>
<div class="panel panel-ui">
  {# section hero #}
  <section class="dy-components" id="messages">
    <h2 class="section-header inner">Hero</h2>

    {# Hero 1.0 #}
    <div class="section-item title-box" id="dy-hero-1-0">
      <h4 class="title inner">头条 1.0</h4>
      <p class="rules inner">视频和文字描述</p>
      <div class="dy-components-demo inner">
        {% include "@dyniva_ui/ui/modules/hero/dy-hero-1-0.html.twig" %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include "@dyniva_ui/ui/modules/hero/dy-hero-1-0.html.twig" %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>Class</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <code>.dy-hero-wrapper</code>
                  </td>
                  <td>头条组件通用类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-1</code>
                  </td>
                  <td>头条 v1 组件的类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-content</code>
                  </td>
                  <td>头条 v1 组件内容</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-hero-2-0">
      <h4 class="title inner">头条 2.0</h4>
      <div class="dy-components-demo inner">
        {% include "@dyniva_ui/ui/modules/hero/dy-hero-2-0.html.twig" %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include "@dyniva_ui/ui/modules/hero/dy-hero-2-0.html.twig" %}
            {%- endfilter -%}
          </pre>

          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>Class</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <code>.dy-hero-wrapper</code>
                  </td>
                  <td>头条组件通用类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-2</code>
                  </td>
                  <td>头条 v2 组件的类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-text</code>
                  </td>
                  <td>头条 v2 文本内容</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-hero-3-0">
      <h4 class="title inner">头条 3.0</h4>
      <div class="dy-components-demo inner">
        {% include "@dyniva_ui/ui/modules/hero/dy-hero-3-0.html.twig" %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include "@dyniva_ui/ui/modules/hero/dy-hero-3-0.html.twig" %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>Class</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <code>.dy-hero-wrapper</code>
                  </td>
                  <td>头条组件通用类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-3</code>
                  </td>
                  <td>头条 v3 组件的类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-text</code>
                  </td>
                  <td>头条 v3 文本内容</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-hero-4-0">
      <h4 class="title inner">头条 4.0</h4>
      <div class="dy-components-demo inner">
        {% include "@dyniva_ui/ui/modules/hero/dy-hero-4-0.html.twig" %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include "@dyniva_ui/ui/modules/hero/dy-hero-4-0.html.twig" %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>Class</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <code>.dy-hero-wrapper</code>
                  </td>
                  <td>头条组件通用类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-4</code>
                  </td>
                  <td>头条 v4 组件的类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-text</code>
                  </td>
                  <td>头条 v4 文本内容</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-hero-5-0">
      <h4 class="title inner">头条 5.0</h4>
      <div class="dy-components-demo inner">
        {% include "@dyniva_ui/ui/modules/hero/dy-hero-5-0.html.twig" %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include "@dyniva_ui/ui/modules/hero/dy-hero-5-0.html.twig" %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>Class</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <code>.dy-hero-wrapper</code>
                  </td>
                  <td>头条组件通用类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-5</code>
                  </td>
                  <td>头条 v5 组件的类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-text</code>
                  </td>
                  <td>头条 v5 文本内容</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-hero-6-0">
      <h4 class="title inner">头条 6.0</h4>
      <div class="dy-components-demo inner">
        {% include "@dyniva_ui/ui/modules/hero/dy-hero-6-0.html.twig" %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include "@dyniva_ui/ui/modules/hero/dy-hero-6-0.html.twig" %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>Class</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <code>.dy-hero-wrapper</code>
                  </td>
                  <td>头条组件通用类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-6</code>
                  </td>
                  <td>头条 v6 组件的类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-text</code>
                  </td>
                  <td>头条 v6 文本内容</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-hero-7-0">
      <h4 class="title inner">头条 7.0</h4>
      <div class="dy-components-demo inner">
        {% include "@dyniva_ui/ui/modules/hero/dy-hero-7-0.html.twig" %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include "@dyniva_ui/ui/modules/hero/dy-hero-7-0.html.twig" %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>Class</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <code>.dy-hero-wrapper</code>
                  </td>
                  <td>头条组件通用类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-7</code>
                  </td>
                  <td>头条 v7 组件的类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-text</code>
                  </td>
                  <td>头条 v7 文本内容</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-hero-8-0">
      <h4 class="title inner">头条 8.0</h4>
      <div class="dy-components-demo inner">
        {% include "@dyniva_ui/ui/modules/hero/dy-hero-8-0.html.twig" %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include "@dyniva_ui/ui/modules/hero/dy-hero-8-0.html.twig" %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>Class</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <code>.dy-hero-wrapper</code>
                  </td>
                  <td>头条组件通用类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-8</code>
                  </td>
                  <td>头条 v8 组件的类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-text</code>
                  </td>
                  <td>头条 v8 文本内容</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-hero-9-0">
      <h4 class="title inner">头条 9.0</h4>
      <div class="dy-components-demo inner">
        {% include "@dyniva_ui/ui/modules/hero/dy-hero-9-0.html.twig" %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include "@dyniva_ui/ui/modules/hero/dy-hero-9-0.html.twig" %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>Class</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <code>.dy-hero-wrapper</code>
                  </td>
                  <td>头条组件通用类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-9</code>
                  </td>
                  <td>头条 v9 组件的类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-text</code>
                  </td>
                  <td>头条 v9 文本内容</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-hero-10-0">
      <h4 class="title inner">头条 10.0</h4>
      <div class="dy-components-demo inner">
        {% include "@dyniva_ui/ui/modules/hero/dy-hero-10-0.html.twig" %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include "@dyniva_ui/ui/modules/hero/dy-hero-10-0.html.twig" %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>Class</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <code>.dy-hero-wrapper</code>
                  </td>
                  <td>头条组件通用类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-10</code>
                  </td>
                  <td>头条 v10 组件的类</td>
                </tr>
                <tr>
                  <td>
                    <code>.dy-hero-text</code>
                  </td>
                  <td>头条 v10 文本内容</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% block messages %}{% endblock %}
  </section>
  {# end section hero #}

  {% block section %}{% endblock %}
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
