{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{{ attach_library('dyniva_ui/sidebar') }}

{% block header %}
  {% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">菜单</h1>
    <h5 class="title">主菜单和边栏菜单使用一样的 Drupal meun 结构输出，为保持统一，使用 js 来初始化做一些样式的区别。</h5>
  </div>
</div>
<div class="outside">&nbsp</div>

<div class="panel panel-ui">
  <section class="dy-components" id="menu">
    <h2 class="section-header inner">菜单 menu</h2>

    <div class="section-item title-box" id="dy-menu-1-0">
      <h4 class="title inner">主菜单 1.0</h4>
      <p class="rules inner">该菜单带有下拉二级菜单，使用Drupal默认菜单结构，一级菜单宽度一致。</p>
      <div class="dy-components-demo inner">
        {% include '@dyniva_ui/ui/modules/navigation/dy-menu-1-0.html.twig' %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include '@dyniva_ui/ui/modules/navigation/dy-menu-1-0.html.twig' %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>.main-menu-v1</code></td>
                <td>组件版本 v1</td>
              </tr>
              <tr>
                <td><code>.js-main-menu</code></td>
                <td>下拉菜单需要这个类来初始化</td>
              </tr>
              <tr>
                <td><code>.clearfix</code></td>
                <td>如果浮动有问题，需要添加此类</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% block menu %}{% endblock %}
  </section>

  <section class="dy-components" id="sidebar">
    <h2 class="section-header inner">边栏菜单</h2>

    <div class="section-item title-box" id="dy-sidebar-1-0">
      <h4 class="title inner">边栏菜单 1.0</h4>
      <p class="rules inner">菜单的层级结构和主菜单一致，都是由drupal核心menu输出，默认会展开已激活项，当一个菜单展开，其他展开的菜单会收起。需要单独在模板中引入资源库<code>dyniva_ui/sidebar</code>
      </p>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            {% include '@dyniva_ui/ui/modules/navigation/dy-sidebar-1-0.html.twig' %}
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include '@dyniva_ui/ui/modules/navigation/dy-sidebar-1-0.html.twig' %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td><code>.sidebar-menu-v1</code></td>
                  <td>组件版本 v1</td>
                </tr>
                <tr>
                  <td><code>.js-sidebar-menu</code></td>
                  <td>边栏二级菜单的展开收缩根据这个类来初始化</td>
                </tr>
                <tr>
                  <td><code>.menu-collapse</code></td>
                  <td>覆写对应的menu模板，添加<code>.menu-collapse</code>类</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% block sidebar %}{% endblock %}
  </section>

  <section class="dy-components" id="navbar">
    <h2 class="section-header inner">导航栏</h2>

    <div class="section-item title-box" id="dy-navbar-1-0">
      <h4 class="title inner">导航栏 1.0</h4>
      <p class="rules inner">消息如果有分类可以添加对应的分类图标和对应的颜色，限制最大高度，超出滚动显示。提供了三种信息类型：图文、列表、图片</p>
      <div class="dy-components-demo inner">
        {% include '@dyniva_ui/ui/modules/navigation/dy-navbar-1-0.html.twig' %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include '@dyniva_ui/ui/modules/navigation/dy-navbar-1-0.html.twig' %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>.navbar-static-top</code></td>
                <td>顶部toolbar静态菜单栏</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% block navbar %}{% endblock %}
  </section>

  {% block section %}{% endblock %}
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
