{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{% block header %}
  {% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">图文混排</h1>
    <h5 class="title">图文混排描述</h5>
  </div>
</div>

<div class="panel panel-ui">
  <section class="dy-components" id="showcase">
    <h2 class="section-header inner">图文混排</h2>

    <div class="section-item title-box" id="dy-showcase-1-0">
      <h4 class="title inner">图文混排 1.0</h4>
      <p class="rules inner">只有一个图文，图片在左侧，文字悬浮在右侧；适用于文字一般情况下。</p>
      <div class="dy-components-demo outside-tb">
        {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-1-0.html.twig' %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-1-0.html.twig' %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>属性</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>图片建议尺寸</code></td>
                <td>宽920px : 高580px；比例1:0.63</td>
              </tr>
              <tr>
                <td><code>.dy-showcase-wrapper</code></td>
                <td>showcase容器，定义一些通用的样式</td>
              </tr>
              <tr>
                <td><code>.dy-showcase-1-0</code></td>
                <td>shouwcase1.0</td>
              </tr>
              <tr>
                <td><code>.showcase-media</code></td>
                <td>图片内容</td>
              </tr>
              <tr>
                <td><code>.showcase-body inside</code></td>
                <td>文字内容</td>
              </tr>
              <tr>
                <td><code>.showcase-action</code></td>
                <td>时间和跳转链接</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-showcase-1-1">
      <h4 class="title inner">图文混排 1.1</h4>
      <p class="rules inner">只有一个图文，图片在右侧，文字悬浮在左侧；适用于文字一般情况下。</p>
      <div class="dy-components-demo outside-tb">
        {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-1-1.html.twig' %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-1-1.html.twig' %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>属性</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><code>图片建议尺寸</code></td>
                  <td>宽920px : 高580px；比例1:0.63</td>
                </tr>
                <tr>
                  <td><code>.dy-showcase-wrapper</code></td>
                  <td>showcase容器，定义一些通用的样式</td>
                </tr>
                <tr>
                  <td><code>.dy-showcase-1-1</code></td>
                  <td>shouwcase1.1</td>
                </tr>
                <tr>
                  <td><code>.showcase-media</code></td>
                  <td>图片内容</td>
                </tr>
                <tr>
                  <td><code>.showcase-body inside</code></td>
                  <td>文字内容</td>
                </tr>
                <tr>
                  <td><code>.showcase-action</code></td>
                  <td>时间和跳转链接</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-showcase-1-2">
      <h4 class="title inner">图文混排 1.2</h4>
      <p class="rules inner">只有一个图文，图片在左侧，文字在右侧；适用于文字较多时。</p>
      <div class="dy-components-demo outside-tb">
        {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-1-2.html.twig' %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-1-2.html.twig' %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>属性</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><code>图片建议尺寸</code></td>
                  <td>宽920px : 高580px；比例1:0.63</td>
                </tr>
                <tr>
                  <td><code>.dy-showcase-wrapper</code></td>
                  <td>showcase容器，定义一些通用的样式</td>
                </tr>
                <tr>
                  <td><code>.dy-showcase-1-2</code></td>
                  <td>shouwcase1.2</td>
                </tr>
                <tr>
                  <td><code>.showcase-media</code></td>
                  <td>图片内容</td>
                </tr>
                <tr>
                  <td><code>.showcase-body inside</code></td>
                  <td>文字内容</td>
                </tr>
                <tr>
                  <td><code>.showcase-action</code></td>
                  <td>时间和跳转链接</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-showcase-2-0">
      <h4 class="title inner">图文混排 2.0</h4>
      <p class="rules inner">一行多个排列，图文上下排列；适用文字较多时。</p>
      <div class="dy-components-demo outside-tb">
        {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-2-0.html.twig' %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-2-0.html.twig' %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>属性</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><code>图片建议尺寸</code></td>
                  <td>宽700px：高477px；比例1:0.68</td>
                </tr>
                <tr>
                  <td><code>.dy-showcase-wrapper</code></td>
                  <td>showcase容器，定义一些通用的样式</td>
                </tr>
                <tr>
                  <td><code>.dy-showcase-2-0</code></td>
                  <td>shouwcase2.0</td>
                </tr>
                <tr>
                  <td><code>.showcase-media</code></td>
                  <td>图片内容</td>
                </tr>
                <tr>
                  <td><code>.showcase-body inside</code></td>
                  <td>文字内容</td>
                </tr>
                <tr>
                  <td><code>.showcase-action</code></td>
                  <td>时间和跳转链接</td>
                </tr>
                <tr>
                  <td><code>.showcase-item</code></td>
                  <td>单个showcase</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-showcase-2-1">
      <h4 class="title inner">图文混排 2.1</h4>
      <p class="rules inner">一行多个排列，图文左右排列，左右两个图文无间距，紧凑型；图片左侧，文字右侧；适用于文字较少时。</p>
      <div class="dy-components-demo outside-tb">
        {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-2-1.html.twig' %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-2-1.html.twig' %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>属性</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><code>图片建议尺寸</code></td>
                  <td>宽365px：高365px   1:1</td>
                </tr>
                <tr>
                  <td><code>.dy-showcase-wrapper</code></td>
                  <td>showcase容器，定义一些通用的样式</td>
                </tr>
                <tr>
                  <td><code>.dy-showcase-2-2</code></td>
                  <td>shouwcase2.2</td>
                </tr>
                <tr>
                  <td><code>.showcase-media</code></td>
                  <td>图片内容</td>
                </tr>
                <tr>
                  <td><code>.showcase-body inside</code></td>
                  <td>文字内容</td>
                </tr>
                <tr>
                  <td><code>.showcase-action</code></td>
                  <td>时间和跳转链接</td>
                </tr>
                <tr>
                  <td><code>.showcase-item</code></td>
                  <td>单个showcase</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-showcase-2-2">
      <h4 class="title inner">图文混排 2.2</h4>
      <p class="rules inner">一行多个排列，图文左右排列，左右两个图文无间距，紧凑型；图片右侧，文字左侧；适用于文字较少时。</p>
      <div class="dy-components-demo outside-tb">
        {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-2-2.html.twig' %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-2-2.html.twig' %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>属性</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><code>图片建议尺寸</code></td>
                  <td>宽365px：高365px   1:1</td>
                </tr>
                <tr>
                  <td><code>.dy-showcase-wrapper</code></td>
                  <td>showcase容器，定义一些通用的样式</td>
                </tr>
                <tr>
                  <td><code>.dy-showcase-2-2</code></td>
                  <td>shouwcase2.2</td>
                </tr>
                <tr>
                  <td><code>.showcase-media</code></td>
                  <td>图片内容</td>
                </tr>
                <tr>
                  <td><code>.showcase-body inside</code></td>
                  <td>文字内容</td>
                </tr>
                <tr>
                  <td><code>.showcase-action</code></td>
                  <td>时间和跳转链接</td>
                </tr>
                <tr>
                  <td><code>.showcase-item</code></td>
                  <td>单个showcase</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-showcase-3-0">
      <h4 class="title inner">图文混排3.0</h4>
      <p class="rules inner">文字较少，密集排列；图片为圆形展示。</p>
      <div class="dy-components-demo inner">
        {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-3-0.html.twig' %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
            aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-3-0.html.twig' %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>图片尺寸</code></td>
                <td>宽300px：高300px；比例1:1</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box" id="dy-showcase-3-1">
      <h4 class="title inner">图文混排 3.1</h4>
      <p class="rules inner">文字较少，密集排列；图片为铺满展示。</p>
      <div class="dy-components-demo inner">
        {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-3-1.html.twig' %}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
            aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            {%- filter escape -%}
              {% include '@dyniva_ui/ui/modules/showcase/dy-showcase-3-1.html.twig' %}
            {%- endfilter -%}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>Class</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><code>图片尺寸</code></td>
                  <td>宽300px：高400px；比例3:4</td>
                </tr>
                <tr>
                  <td><code>.showcase-media</code></td>
                  <td>图片内容</td>
                </tr>
                <tr>
                  <td><code>.showcase-body</code></td>
                  <td>文字内容</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% block showcase %}{% endblock %}
  </section>
  {# sub theme components extend here dont remove section block #}
  {% block section %}{% endblock %}
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
