<div class="bg-white">
  <ul class="dy-list">
    <li>
      <i class="icon icon-map"></i>
      <div class="info">
        <a href="#">Text...</a>
        <div class="list-left-below pull-left">资料中心</div>
        <div class="list-right-below pull-right">2017-08-30</div>
      </div>
    </li>
    <li>
      ...
    </li>
  </ul>
</div>


// 全局：定制文本最终标签
<i class="icon icon-map"></i>
<div class="info">
  {{ "{{ title }}" }}
  <div class="list-left-below pull-left">{{ department }}</div>
  <div class="list-right-below pull-right">{{ created }}</div>
</div>
