{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{% block header %}
  {% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">消息与通知</h1>
    <h5 class="title">通过提供一些灵活的预定义消息，为常见的用户动作提供反馈消息。</h5>
  </div>
</div>
<div class="panel panel-ui">
  <section class="dy-components" id="messages">
    <div class="inner dy-components-inner">
      <div class="row">
        <div class="col-xs-12 col-md-2">
          <h2 class="section-header inner">消息与通知</h2>
        </div>
        <div class="col-xs-12 col-md-10">
          <div class="section-item title-box">
            <h4 class="title inner">带链接</h4>
            <p class="rules inner">全屏宽把 <code>.notices</code> 子元素使用 <code>.inner</code>包围</p>
            <div class="dy-components-demo inner">
              <div class="notices outside-tb">
                <div class="inside-lr">
                  <a href="#" class="btn btn-base btn-ele-circle  btn-base f-r">登录</a>
                  <p class="text-light">您没有访问的权限，请登录！</p>
                </div>
              </div>

              <div class="notices notices-base outside-tb">
                <div class="inside-lr">
                  <a href="#" class="btn btn-ele-circle btn-outline f-r">登录</a>
                  <p>您没有访问的权限，请登录！</p>
                </div>
              </div>

              <div class="notices notices-success outside-tb">
                <div class="inside-lr">
                  <a href="#" class="btn btn-ele-circle btn-outline f-r">登录</a>
                  <p>您没有访问的权限，请登录！</p>
                </div>
              </div>

              <div class="notices notices-info outside-tb">
                <div class="inside-lr">
                  <a href="#" class="btn btn-ele-circle btn-outline f-r">登录</a>
                  <p>您没有访问的权限，请登录！</p>
                </div>
              </div>

              <div class="notices notices-warning outside-tb">
                <div class="inside-lr">
                  <a href="#" class="btn btn-ele-circle btn-outline f-r">登录</a>
                  <p>您没有访问的权限，请登录！</p>
                </div>
              </div>

              <div class="notices notices-fail outside-tb">
                <div class="inside-lr">
                  <a href="#" class="btn btn-ele-circle btn-outline f-r">重置密码</a>
                  <p>您的密码已经过期，请重置！</p>
                </div>
              </div>
            </div>
            <div class="dy-components-markup inner">
              <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
                 aria-expanded="false"
                 aria-controls="collapseCode">
                <i class="icon">&#xe818;</i> 开发说明
              </a>
              <div class="collapse">
                <div>
                  {% set blocks = '
<!--
- .notices-base (@site-base)
- .notices-success
- .notices-info
- .notices-warning
- .notices-fail
--->
<div class="notices notices-base outside-tb">
  <div class="inner">
  <a href="#" class="btn btn-ele-circle btn-base-outline f-r">登录</a>
  <p>您没有访问的权限，请登录！</p>
  </div>
</div>' %}
                  <pre class="prettyprint lang-html">
                      {{ blocks }}
                      </pre>
                </div>
              </div>
            </div>
          </div>{# end section #}
          <div class="outside-tb-lg">

          </div>
          {% block section %}{% endblock %}
        </div>
      </div>
    </div>
  </section>
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
