{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{% block header %}
  {% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">标题组件</h1>
    <h5 class="title">可应用与区级标题样式</h5>
  </div>
</div>

<div class="panel panel-ui">
  <section class="dy-components" id="titles">
    <div class="inner dy-components-inner">
      <div class="row">
        <div class="col-xs-12 col-md-2">
          <h2 class="section-header inner">标题组件</h2>
        </div>
        <div class="col-xs-12 col-md-10">
          <div class="section-item title-box">
            <h4 class="title inner">基本应用</h4>
            <p class="rules inner">上下都加了边距。</p>
            <div class="dy-components-demo inner">
              <div class="heading bg-white">
                <div class="heading-content t-c">
                  <h2 class="heading-title">Drupal开发专家，让您的应用快速落地</h2>
                  <div class="title-desc">
                    移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。无纸化的培训管理，连接线上和线下，节约管理成本，提升培训效率。
                  </div>
                </div>
              </div>
            </div>
            <div class="dy-components-markup inner">
              <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
                 aria-expanded="false"
                 aria-controls="collapseCode">
                <i class="icon">&#xe818;</i> 开发说明
              </a>
              <div class="collapse">
                <div>
                  {% set blocks = '
<div class="heading bg-white">
  <div class="heading-content t-c">
    <h2 class="heading-title">Drupal开发专家，让您的应用快速落地</h2>
    <div class="title-desc">
      移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。无纸化的培训管理，连接线上和线下，节约管理成本，提升培训效率。
    </div>
  </div>
</div>' %}
                  <pre class="prettyprint lang-html">
                    {{ blocks }}
                  </pre>

                </div>
                <div class="dy-components-desc">
                  <table class="table table-full">
                    <thead>
                    <tr>
                      <th>Class</th>
                      <th>说明</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><code>.bg-white</code></td>
                      <td>添加白色背景</td>
                    </tr>
                    <tr>
                      <td><code>.heading</code></td>
                      <td>标题组件</td>
                    </tr>
                    <tr>
                      <td><code>.heading-title</code></td>
                      <td>组件标题</td>
                    </tr>
                    <tr>
                      <td><code>.title-desc</code></td>
                      <td>组件描述信息</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>{# end section #}
          <div class="outside-tb-lg">

          </div>
          <div class="section-item title-box">
            <h4 class="title inner">添加修饰符</h4>
            <p class="rules inner">使用规则</p>
            <div class="dy-components-demo inner">
              <div class="heading bg-lighter inside">
                <div class="heading-content t-c">
                  <h2 class="heading-title">Drupal开发专家，让您的应用快速落地</h2>
                  <div class="title-icon size-lr outside-tb">
                        <span>
                          <i class="icon">&#xe001;</i>
                        </span>
                  </div>
                  <div class="title-desc">
                    移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。无纸化的培训管理，连接线上和线下，节约管理成本，提升培训效率。
                  </div>
                </div>
              </div>
            </div>
            <div class="dy-components-markup inner">
              <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
                 aria-expanded="false"
                 aria-controls="collapseCode">
                <i class="icon">&#xe818;</i> 开发说明
              </a>
              <div class="collapse">
                <div>
                  {% set blocks = '
<div class="heading bg-lighter inside">
  <div class="heading-content t-c">
    <h2 class="heading-title">Drupal开发专家，让您的应用快速落地</h2>
    <div class="title-icon size-lr outside-tb">
      <span><i class="icon">&#xe001;</i></span>
    </div>
    <div class="title-desc">
      移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。无纸化的培训管理，连接线上和线下，节约管理成本，提升培训效率。
    </div>
  </div>
</div>' %}
                  <pre class="prettyprint lang-html">
                    {{ blocks }}
                  </pre>
                </div>
                <div class="dy-components-desc">
                  <table class="table table-full">
                    <thead>
                    <tr>
                      <th>Class</th>
                      <th>说明</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><code>.bg-lighter</code></td>
                      <td>添加浅色背景</td>
                    </tr>
                    <tr>
                      <td><code>.heading</code></td>
                      <td>标题组件</td>
                    </tr>
                    <tr>
                      <td><code>.heading-title</code></td>
                      <td>组件标题</td>
                    </tr>
                    <tr>
                      <td><code>.title-icon</code></td>
                      <td>组件图标</td>
                    </tr>
                    <tr>
                      <td><code>.title-desc</code></td>
                      <td>组件描述信息</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>{# end section #}
          <div class="outside-tb-lg">

          </div>
          <div class="section-item title-box">
            <h4 class="title inner">添加颜色</h4>
            <p class="rules inner">给标题使用 <code>strong</code>包围应用颜色</p>
            <div class="dy-components-demo inner">
              <div class="heading bg-white">
                <div class="heading-content t-c">
                  <h2 class="heading-title">Drupal开发专家 <strong>让您的应用快速落地</strong></h2>
                  <div class="title-icon size-lr outside-tb">
                    <span><i class="icon">&#xe001;</i></span>
                  </div>
                  <div class="title-desc">
                    移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。无纸化的培训管理，连接线上和线下，节约管理成本，提升培训效率。
                  </div>
                </div>
              </div>
            </div>
            <div class="dy-components-markup inner">
              <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
                 aria-expanded="false"
                 aria-controls="collapseCode">
                <i class="icon">&#xe818;</i> 开发说明
              </a>
              <div class="collapse">
                <div>
                  {% set blocks = '
<div class="heading bg-white">
  <div class="heading-content t-c">
    <h2 class="heading-title">Drupal开发专家 <strong>让您的应用快速落地</strong></h2>
    <div class="title-icon size-lr outside-tb">
      <span><i class="icon">&#xe001;</i></span>
    </div>
    <div class="title-desc">
      移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。无纸化的培训管理，连接线上和线下，节约管理成本，提升培训效率。
    </div>
  </div>
</div>' %}
                  <pre class="prettyprint lang-html">
                    {{ blocks }}
                  </pre>
                </div>
              </div>
            </div>
          </div>{# end section #}
        </div>
      </div>
    </div>
  </section>
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
