{% extends "@dyniva_ui/ui/preview/ui-preview.html.twig" %}

{% set page_title = '媒体对象' %}

{% set page_descs = [
  '包含了常用的图片和图片-文字、视频-文字组合，用以构建不同类型的组件，这些组件都具有在文本内容的左或右侧对齐的图片。'
] %}

{% set preview_sections = [
  {
    id: 'image',
    title: '图片',
    items: [
      {
        id: 'image--sizing',
        title: '大小',
        rules: [
          '<span class="text-color-error">注意：</span>class定义的宽度优先于img属性定义的行内属性。',
          '尺寸的大小：',
          '
            <ul class="px-10 mt-0 flex list-none">
              <li class="md|w-3/12"><code>.img-l / width: 256px</code></li>
              <li class="md|w-3/12"><code>.img-n / width: 128px</code></li>
              <li class="md|w-3/12"><code>.img-s / width: 64px</code></li>
              <li class="md|w-3/12"><code>.img-m / width: 32px</code></li>
            </ul>
          '
        ],
        demoClass: '',
        rowClass: 'row',
        templates: [
          {
            url: 'components/media/dy-image.html.twig',
            gridClass: 'col-xs-12 col-md-3',
            param: {  
              classes: 'img-l radius-normal',
              alt: 'image large'
            }
          },
          {
            url: 'components/media/dy-image.html.twig',
            gridClass: 'col-xs-12 col-md-3',
            param: {  
              classes: 'img-n radius-normal',
              alt: 'image normal'
            }
          },
          {
            url: 'components/media/dy-image.html.twig',
            gridClass: 'col-xs-12 col-md-3',
            param: {  
              classes: 'img-s radius-normal',
              alt: 'image small'
            }
          },
          {
            url: 'components/media/dy-image.html.twig',
            gridClass: 'col-xs-12 col-md-3',
            param: {  
              classes: 'img-m radius-normal',
              alt: 'image mini'
            }
          },
        ],
        descs: [
          {
            code: '.img-l',
            text: '宽度为256px，高度自动'
          },
          {
            code: '.img-n',
            text: '宽度为128px，高度自动'
          },
          {
            code: '.img-s',
            text: '宽度为64px，高度自动'
          },
          {
            code: '.img-m',
            text: '宽度为32px，高度自动'
          },
        ]
      },
      {
        id: 'image--radius',
        title: '圆角',
        rules: [
          '使用指定的class给图片添加圆角效果。'
        ],
        demoClass: '',
        rowClass: 'row',
        templates: [
          {
            url: 'components/media/dy-image.html.twig',
            gridClass: 'col-xs-12 col-md-4 col-md-offset-2',
            param: {  
              classes: 'img-l img-radius',
              alt: 'image radius'
            }
          },
          {
            url: 'components/media/dy-image.html.twig',
            gridClass: 'col-xs-12 col-md-4',
            param: {  
              classes: 'img-l img-circle',
              alt: 'image circle'
            }
          },
        ],
        descs: [
          {
            code: '.img-radius',
            text: '添加5px的圆角'
          },
          {
            code: '.img-circle',
            text: '添加50%的圆角'
          },
        ]
      },
      {
        id: 'image--effect',
        title: '效果',
        rules: [],
        demoClass: '',
        rowClass: 'row',
        templates: [
          {
            url: 'components/media/dy-image.html.twig',
            gridClass: 'col-xs-12 col-md-4 col-md-offset-2',
            param: {  
              classes: 'img-l img-shadow',
              alt: 'image shadow'
            }
          },
          {
            url: 'components/media/dy-image.html.twig',
            gridClass: 'col-xs-12 col-md-4',
            param: {  
              classes: 'img-l img-desaturate',
              alt: 'image desaturate'
            }
          },
        ],
        descs: [
          {
            code: '.img-shadow',
            text: '给图片添加阴影效果'
          },
          {
            code: '.img-desaturate',
            text: '给图片去色'
          },
        ]
      },
    ]
  },
] %}