<nav class="dy-navbar-1-0 navbar-static-top">
  <div class="navbar-custom-menu">
    <ul class="nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="icon icon-email-line"></i>
          <span class="label label-success">4</span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">You have 4 messages</li>
          <li>
            <ul class="menu">
              <li>
                <a href="#">
                  <div class="media media-float">
                    <img src="holder.js/40x40" class="img-s radius-circle flex-align-top outside-min-r" width="40" height="40" alt="avatar">
                    <div class="media-body">
                      <h5 class="title">
                        Support Team<small><i class="icon icon-time"></i>5 mins</small>
                      </h5>
                      <p class="size-m text-light">
                        Eiusmod ad qui ut mollit veniam fugiat et anim veniam labore.
                        Tempor occaecat irure velit minim ex est voluptate irure ad dolor dolor in. Aliquip
                        fugiat nostrud consequat occaecat. Elit commodo est proident nisi nostrud officia et
                        est. Incididunt incididunt consequat nostrud minim. Consectetur consectetur cillum
                        laboris adipisicing nostrud labore.
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="media media-float">
                    <img src="holder.js/40x40" class="img-s radius-circle flex-align-top outside-min-r" width="40" height="40" alt="avatar">
                    <div class="media-body">
                      <h5 class="title">Support Team
                        <small>
                          <i class="icon icon-time"></i>
                          5 mins</small>
                      </h5>
                      <p class="size-m text-light">Why not buy a new awesome theme?</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="media media-float">
                    <img src="holder.js/40x40" class="img-s radius-circle flex-align-top outside-min-r" width="40" height="40" alt="avatar">
                    <div class="media-body">
                      <h5 class="title">Support Team
                        <small>
                          <i class="icon icon-time"></i>
                          5 mins</small>
                      </h5>
                      <p class="size-m text-light">Why not buy a new awesome theme?</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="media media-float">
                    <img src="holder.js/40x40" class="img-s radius-circle flex-align-top outside-min-r" width="40" height="40" alt="avatar">
                    <div class="media-body">
                      <h5 class="title">Support Team
                        <small>
                          <i class="icon icon-time"></i>
                          5 mins</small>
                      </h5>
                      <p class="size-m text-light">Why not buy a new awesome theme?</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li class="footer">
            <a href="#">See All Messages</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="icon icon-bell"></i>
          <span class="label label-warning">10</span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">You have 10 notifications</li>
          <li>
            <ul class="menu">
              <li>
                <a href="#">
                  <i class="icon icon-team text-color-info"></i>
                  5 new members joined today
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-user-line text-color-primary"></i>
                  Very long description here that may not fit into the page and may cause design problems
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-lock text-color-success"></i>
                  5 new members joined
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-sound text-color-warning"></i>
                  25 sales made
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-flag text-color-error"></i>
                  You changed your username
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-team text-color-info"></i>
                  5 new members joined today
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-user-line text-color-primary"></i>
                  Very long description here that may notfit into the page and may cause design problems
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-lock text-color-success"></i>
                  5 new members joined
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-sound text-color-warning"></i>
                  25 sales made
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-flag text-color-error"></i>
                  You changed your username
                </a>
              </li>
            </ul>
          </li>
          <li class="footer">
            <a href="#">View all</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="icon icon-wechat"></i>
          <span class="label label-success">4</span>
        </a>
        <ul class="dropdown-menu">
          <li class="header t-c">扫描二维码，登录后台</li>
          <li>
            <div class="t-c"><img src="holder.js/150x150" class="inside-min" alt="wechat"></div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
