
<div class="dy-tab-4-0 block panel-tabs panel-tabs-auto">
  <ul class="menu tab-nav tab-nav-4">
    <li class="active">
      <a data-toggle="tab" href="#">item 1</a>
    </li>
    <li>
      <a data-toggle="tab" href="#">item 2</a>
    </li>
    <li>
      <a data-toggle="tab" href="#">item 3</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active in">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi architecto atque autem
        beatae commodi cumque cupiditate deserunt doloremque doloribus ea earum enim excepturi
        exercitationem explicabo facilis, fuga libero magni maiores nesciunt nisi nulla omnis provident
        quis quos rem repellendus sunt suscipit tempora veniam veritatis voluptas voluptate voluptatem?
        Rem, repudiandae.</p>
    </div>
    <div class="tab-pane">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat in iure laboriosam minus quae,
        repudiandae tempora. A atque cupiditate est laboriosam laudantium quis similique soluta unde!
        Adipisci at atque, labore obcaecati omnis praesentium recusandae sapiente! Animi consequuntur
        deleniti et inventore magnam quo? Eos et maxime perferendis quibusdam totam ullam, vitae!</p>
    </div>
    <div class="tab-pane">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda, consequuntur ducimus
        esse eveniet excepturi facilis fuga fugit illo incidunt laborum magnam, officiis porro, quam quo
        ratione rem! Ad amet aut cupiditate dolorum eaque earum error exercitationem hic minima nesciunt
        nisi officia omnis possimus reiciendis sapiente, sequi sint temporibus voluptates.</p>
    </div>
  </div>
</div>
