
<div class="dy-tab-3-0 block panel-tabs panel-tabs-auto">
  <ul class="menu tab-nav tab-nav-3 {{ class }}">
    <li class="active">
      <a data-toggle="tab" href="#">
        <i class="icon">&#xe606;</i>
        item 1</a>
    </li>
    <li>
      <a data-toggle="tab" href="#">
        <i class="icon">&#xe605;</i>
        item 2</a>
    </li>
    <li>
      <a data-toggle="tab" href="#">
        <i class="icon">&#xe793;</i>
        item 3</a>
    </li>
    <li>
      <a data-toggle="tab" href="#">
        <i class="icon">&#xe61d;</i>
        item 4</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane  active in">
      <p class="four-line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium
        ad aliquid
        aperiam at, consequatur cum cumque delectus dignissimos dolor doloremque eaque eius est eveniet
        hic impedit ipsa modi neque nihil nobis numquam odit perferendis perspiciatis praesentium quae
        quas quia quibusdam rem tempora, tenetur totam, vel veniam voluptatibus? Beatae commodi cupiditate
        deleniti dolorum ipsa mollitia, nam neque, officia officiis omnis quasi quis, quisquam quod
        recusandae repellat reprehenderit saepe unde veniam veritatis voluptas. Assumenda at corporis
        deserunt necessitatibus numquam qui veniam?</p>
    </div>
    <div class="tab-pane">
      <p class="four-line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, et fugit
        incidunt molestiae
        nobis perferendis placeat soluta? Accusamus, accusantium aliquid animi assumenda at cum, deserunt
        dignissimos distinctio dolorem enim eveniet facilis harum id illo illum ipsum laudantium maiores
        natus nesciunt nisi obcaecati perferendis quae quaerat quam, quos reiciendis rem repudiandae rerum
        saepe vero! Id libero molestiae necessitatibus sed, soluta tenetur voluptatum! Ad aliquid
        dignissimos, distinctio dolor ducimus earum ipsam iusto laboriosam, necessitatibus, obcaecati
        perspiciatis porro quis repellat sapiente soluta velit!</p>
    </div>
    <div class="tab-pane">
      <p class="four-line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab ad aspernatur
        cum dolor dolore
        doloremque dolorum eaque eos fuga illo ipsa ipsam, nemo obcaecati odio odit quisquam tenetur?
        Aliquid aspernatur culpa cupiditate debitis delectus deleniti deserunt dignissimos, eius ipsa,
        iste labore laboriosam minima minus nisi officiis, optio perspiciatis porro sapiente sequi
        similique tempore tenetur veritatis voluptate. Doloribus magnam officia vitae. Accusamus aliquam
        consectetur eligendi harum ipsa magnam nobis provident vero voluptas. Aliquid aspernatur harum
        illo! Ab ad assumenda sed!</p>
    </div>
    <div class="tab-pane">
      <p class="four-line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto
        aspernatur
        distinctio eos expedita iste laborum officia quibusdam rem! Assumenda deserunt distinctio dolorem
        fuga ipsam nam provident qui, velit. At autem commodi consectetur corporis culpa cumque
        dignissimos earum eius error expedita harum maxime modi natus necessitatibus nobis, officiis optio
        praesentium quas quo, repellendus repudiandae rerum, sed sunt suscipit temporibus tenetur
        voluptate voluptatem. Dolores illum impedit incidunt iusto libero molestiae molestias neque
        officia qui saepe! Adipisci cum distinctio nemo temporibus voluptatibus!
      </p>
    </div>
  </div>
</div>
