
<div class="dy-tab-1-0 block panel-tabs panel-tabs-auto">
  <ul class="menu tab-nav tab-nav-1">
    <li class="active">
      <a data-toggle="tab" href="#">item 1</a>
    </li>
    <li>
      <a data-toggle="tab" href="#">item 2</a>
    </li>
    <li>
      <a data-toggle="tab" href="#">item 3</a>
    </li>
    <li>
      <a data-toggle="tab" href="#">item 4</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active in">
      <p class="four-line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat rem tenetur
        velit voluptatem?
        Animi cupiditate illum inventore nam recusandae! Ab accusantium adipisci assumenda consequatur
        debitis delectus distinctio doloremque doloribus et fuga laudantium molestias natus neque non
        officia placeat quasi quia quis repellat reprehenderit, sit soluta unde, ut. Ab autem, doloremque.
      </p>
    </div>
    <div class="tab-pane">
      <p class="four-line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate ex ipsa
        molestiae, nam
        omnis tempore. Alias amet aspernatur, debitis delectus est exercitationem explicabo illo ipsa
        iusto magni mollitia neque nobis omnis qui quis repellat repellendus sunt, vitae voluptatem
        voluptates! Ad, commodi doloremque libero maxime neque recusandae saepe ullam veniam?
      </p>
    </div>
    <div class="tab-pane">
      <p class="four-line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi
        asperiores at commodi
        cupiditate ducimus eius, esse eum hic iusto magnam minus nostrum omnis optio possimus quaerat quas
        sed sint sit sunt temporibus unde ut vel? Ab accusantium autem consectetur dicta iure laboriosam
        maxime, nulla officia quam quidem sit tempore.
      </p>
    </div>
    <div class="tab-pane">
      <p class="four-line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad
        adipisci aliquam
        cupiditate debitis doloremque, laudantium modi nobis, optio perferendis porro possimus saepe
        sapiente sint suscipit vero voluptatem? Delectus dignissimos distinctio eligendi eos ex, expedita
        hic illum maiores nihil nisi quis quisquam, rerum saepe, sapiente tempora ullam voluptas. Est,
        quod!
      </p>
    </div>
  </div>
</div>
