.outside-t {
  margin-top: $space;
}

.outside-r {
  margin-right: $space;
}

.outside-b {
  margin-bottom: $space;
}

.outside-l {
  margin-left: $space;
}

.outside-tb {
  margin-top: $space;
  margin-bottom: $space;
}

.outside-tb-lg {
  margin-top: $space * 2;
  margin-bottom: $space * 2;
}

.outside-lr {
  margin-right: $space;
  margin-left: $space;
}

.outside {
  margin-top: $space;
margin-bottom: $space;
  margin-left: $space;
margin-right: $space;
}

.outside-min-l {
  margin-left: $space-min;
}

.outside-min-r {
  margin-right: $space-min;
}

.outside-min-t {
  margin-top: $space-min;
}

.outside-min-b {
  margin-bottom: $space-min;
}

.outside-min-lr {
  @extend .outside-min-l;
  @extend .outside-min-r;
}

.outside-min-tb {
  @extend .outside-min-t;
  @extend .outside-min-b;
}

.outside-min {
  @extend .outside-min-tb;
  @extend .outside-min-lr;
}

.inside-t {
  padding-top: $space;
}

.inside-r {
  padding-right: $space;
}

.inside-b {
  padding-bottom: $space;
}

.inside-l {
  padding-left: $space;
}

.inside-lr {
  padding-right: $space;
  padding-left: $space;
}

.inside-tb {
  padding-top: $space;
  padding-bottom: $space;
}

.inside-tb-lg {
  padding-top: $space * 2;
  padding-bottom: $space * 2;
}

.inside {
  padding-top: $space;
padding-bottom: $space;
  padding-left: $space;
padding-right: $space;
}

.inside-min-t {
  padding-top: $space-min;
}

.inside-min-r {
  padding-right: $space-min;
}

.inside-min-b {
  padding-bottom: $space-min;
}

.inside-min-l {
  padding-left: $space-min;
}

.inside-min-lr {
  @extend .inside-min-r;
  @extend .inside-min-l;
}

.inside-min-tb {
  @extend .inside-min-t;
  @extend .inside-min-b;
}

.inside-min {
  @extend .inside-min-tb;
  @extend .inside-min-lr;
}

.outside-c-t,
div.outside-c-t {
  margin-top: 0;
}

.outside-c-r,
div.outside-c-r {
  margin-right: 0;
}

.outside-c-b,
div.outside-c-b {
  margin-bottom: 0;
}

.outside-c-l,
div.outside-c-l {
  margin-left: 0;
}

.outside-c-lr,
div.outside-c-lr {
  @extend .outside-c-l;
  @extend .outside-c-r;
}

.outside-c-tb,
div.outside-c-tb {
  @extend .outside-c-t;
  @extend .outside-c-b;
}

.outside-c,
div.outside-c {
  @extend .outside-c-tb;
  @extend .outside-c-lr;
}

.inside-c-t,
.inner.inside-c-t {
  padding-top: 0;
}

.inside-c-r,
.col.inside-c-r,
.inner.inside-c-r {
  padding-right: 0;
}

.inside-c-b,
.inner.inside-c-b {
  padding-bottom: 0;
}

.inside-c-l,
.col.inside-c-l,
.inner.inside-c-l {
  padding-left: 0;
}

.inside-c-lr,
.inner.inside-c-lr {
  @extend .inside-c-l;
  @extend .inside-c-r;
}

.inside-c-tb,
.inner.inside-c-tb {
  @extend .inside-c-t;
  @extend .inside-c-b;
}

.inside-c,
.inner.inside-c {
  @extend .inside-c-tb;
  @extend .inside-c-lr;
}

.spacer-lg {
  height: $space * 4;
}

@media screen and (max-width: 767px) {
  .spacer-lg {
    height: $space * 2;
  }
}

.spacer-md {
  height: $space * 2;
}

@media screen and (max-width: 767px) {
  .spacer-md {
    height: $space;
  }
}

.spacer-sm {
  height: $space;
}

@media screen and (max-width: 767px) {
  .spacer-sm {
    height: $space / 2;
  }
}
