{{ attach_library('dyniva_ui/common.preview') }}
<div class="page" id="page">
  {{ page.content }}

  {# show on mobile #}
  <div id="outside">
    {% block menu %}
      {% include '@dyniva_ui/ui/preview/ui-preview-menu.html.twig' %}
    {% endblock %}
  </div>
</div>
