// layout builder section 的配置框样式
#drupal-off-canvas {

  fieldset.form-item {
    width: 100%;

    &.blb_container_type,
    &.blb_gutter_type,
    &.blb_breakpoint_cols {
      border: 1px dashed rgba(255, 255, 255, 0.6);
      margin: 0 !important;
      padding: 0 10px 5px;
    }
  }

  details {
    border: 1px dashed rgba(255, 255, 255, 0.6);
    padding: 0;

    +details {
      margin-top: 10px;
    }

    >&[open]>summary {
      margin: 0;
      padding: 0;
      padding-bottom: 0;
      border-radius: 0;
    }
  }

  .details-wrapper {
    padding: 0 20px;

    .form-item {
      margin: 10px 0;
    }
  }

  // 颜色选择样式
  .bs_input-circles label {
    line-height: 100px;
    text-align: center;

    .bs_tooltip {
      line-height: 1.5;
    }
  }

  [data-drupal-selector="edit-layout-settings-ui-tab-content-layout"] {

    div,
    fieldset {
      width: 100%;
    }
  }

  [data-drupal-selector="edit-layout-settings-ui-tab-content-appearance-background-background-type"] {
    width: 100%;
  }

  .link {
    &:hover {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .bs_input-boxes--box-model .fieldset-wrapper>div>div input~label:after {
    position: absolute;
  }

  .form-item-layout-settings-ui-tab-content-appearance-background-background-color,
  .form-item-layout-settings-ui-tab-content-appearance-typography-text-color,
  .form-item-layout-settings-ui-tab-content-appearance-border-border-style,
  .form-item-layout-settings-ui-tab-content-appearance-border-border-color {
    margin-bottom: 20px !important;
  }

  [data-drupal-selector="edit-layout-settings-ui-tab-content-appearance-animation"] {
    .details-wrapper>.input-icon {
      display: none;
    }
  }
}

.ui-dialog-off-canvas {
  z-index: 1111 !important;

  button.ui-dialog-titlebar-close {
    position: absolute !important;
    top: 50% !important;
  }
}
