// layout builder 的配置框样式
.ui-dialog.ui-layout-builder-modal {
  width: 1000px !important;
  height: 96vh !important;
  max-height: none;
  overflow: hidden;
  top: 2vh !important;
  left: 50% !important;
  transform: translateX(-50%);
  background: #383A40;

  // 颜色选择样式
  .bs_input-circles .fieldset-wrapper label {
    line-height: 100px;
    text-align: center;

    .bs_tooltip {
      line-height: 1.5;
    }
  }

  // 关闭按钮样式
  .ui-dialog-titlebar-close {
    z-index: 2;
    top: 30px;
  }

  #layout-builder-modal {
    max-height: max-content !important;
    padding: 0;

    details {

      &+details {
        margin-top: 20px;
      }

      border: 1px solid #ffffff;

      &>summary {
        box-shadow: none;
        border-radius: 0;

        &::after {
          border-right-color: #ffffff;
          border-bottom-color: #ffffff;
        }
      }
    }

    .btn-choose>.btn-choose-mark:after {
      color: #ffffff !important;
    }

    #bs_ui {
      margin: 0;
      border-bottom: 1px solid #ffffff;

      #bs_nav-tabs {
        margin: 0;
        width: 100%;
        padding: 0;
      }

      .blb_tab-content {
        height: calc(96vh - 200px);
        overflow: auto;
        padding: 2rem;
      }
    }

    form.layout-builder-configure-block {
      height: 100%;

      .form-item {
        margin-top: 0;
        margin-bottom: 1.5rem;
      }

      input[data-drupal-selector="edit-actions-submit"] {
        margin: 10px 10px 0 !important;
      }
    }

    [data-drupal-selector="edit-appearance-typography-text-alignment"] .input-icon,
    .bs_input-boxes--box-model .fieldset-wrapper>div>div input~label:after {
      position: absolute;
    }

    // paragraphs tabs block
    .paragraphs-tabs-wrapper {

      .table-wrapper {
        width: 100%;
        margin: 0;
        overflow-x: unset;

        table {
          tr td {
            padding: 15px;
            border: 1px solid rgba(255, 255, 255, 0.2);
          }
        }

        .tabledrag-toggle-weight-wrapper {
          margin-top: 0;
        }

        .field-multiple-drag {
          width: 1px;

          &::after {
            padding: 0;
          }
        }
      }

      .field-multiple-table {
        .field-label .label {
          background-color: transparent;
        }
      }

      input[type="submit"].button {
        margin: 0;
        width: unset;
      }

      // 添加更多项
      ul[data-drupal-selector="edit-settings-block-form-paragraph-carousel-add-more-operations"] {
        padding-right: 36px;
      }

      .paragraphs-dropdown-actions {
        border-radius: 6px;

        .paragraphs-dropdown-action {
          border-top: 1px solid @border-color;
          border-radius: 0;
          margin: 0;
          width: 100%;
          background-color: transparent;

          &:hover {
            background-color: #26A5FF;
          }

          &:nth-of-type(0) {
            border-top: 0;
          }
        }
      }

      // 删除确认按钮样式
      .paragraphs-features__delete-confirmation {
        button {
          width: unset;
        }
      }

    }

  }
}
