<div class="media media-oneline">
  <img src="holder.js/64x64?theme=blue" class="img-s radius-circle outside-min-r" width="256" height="256" alt="avatar">
  <div class="media-body">
    <h4 class="title inner">Dyniva</h4>
  </div>
</div>

<div class="media media-oneline">
  <img src="holder.js/64x64?theme=blue" class="img-s radius-circle outside-min-r" width="256" height="256" alt="avatar">
  <div class="media-body">
    <h4 class="title outside-min-b">Dyniva</h4>
    <a href="#">By Davyin UI</a>
  </div>
</div>
