<div class="media media-oneline">
  <img src="holder.js/64x64?theme=blue" 
    class="img-s radius-circle {{ classes }} outside-min-r" alt="avatar"
  >
  <div class="media-body min-w-0">
    <h4 class="title inner">Dyniva</h4>
    <p class="four-line size-m text-light">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet, animi aperiam beatae blanditiis consectetur consequatur fugiat illum impedit inventore ipsa obcaecati porro quas quisquam rerum similique tempora.
    </p>
  </div>
</div>
