<div class="dy-list-wrapper dy-list-3-0">
  <div class="inner">
    {%- for item in items | default([
      {
        time: '2019-08-25',
        title: 'Drupal开发专家，让您的应用快速落地'
      },
      {
        time: '2019-08-25',
        title: 'Drupal开发专家，让您的应用快速落地'
      },
      {
        time: '2019-08-25',
        title: 'Drupal开发专家，让您的应用快速落地'
      },
      {
        time: '2019-08-25',
        title: 'Drupal开发专家，让您的应用快速落地'
      },
      {
        time: '2019-08-25',
        title: 'Drupal开发专家，让您的应用快速落地'
      },
      {
        time: '2019-08-25',
        title: 'Drupal开发专家，让您的应用快速落地'
      }
    ]) ~%}
    <div class="list-item">
      <span class="time">{{ item.time }}</span>
      <div class="title">
        <a href="javascript:void(0);">{{ item.title }}</a>
      </div>
    </div>
    {%- endfor ~%}
  </div>
</div>
