<div class="justified outside-b">
  <div class="justified-item justified-item-auto">
    <div class="notices notices-warning inside">justified one</div>
  </div>
  <div class="justified-item justified-item-auto">
    <div class="notices notices-fail inside">justified one</div>
  </div>
  <div class="justified-item justified-item-auto">
    <div class="notices notices-success inside">justified one</div>
  </div>
  <div class="justified-item justified-item-auto">
    <div class="notices notices-info inside">justified one</div>
  </div>
</div>

<div class="justified outside-b">
  <div class="justified-item justified-item-auto">
    <div class="notices notices-warning inside">justified two</div>
  </div>
  <div class="justified-item justified-item-auto">
    <div class="notices notices-fail inside">justified two</div>
  </div>
  <div class="justified-item justified-item-auto">
    <div class="notices notices-success inside">justified two</div>
  </div>
</div>

<div class="justified outside-b">
  <div class="justified-item justified-item-auto">
    <div class="notices notices-warning inside">justified three</div>
  </div>
  <div class="justified-item justified-item-auto">
    <div class="notices notices-fail inside">justified three</div>
  </div>
</div>

<div class="justified outside-b">
  <div class="justified-item justified-item-auto">
    <div class="notices notices-warning inside">justified four</div>
  </div>
</div>

<div class="justified outside-b">
  <div class="justified-item justified-middle notices notices-warning   inside" style="height:100px;">
    justified four
  </div>
</div>
