<table class="t-c table-full">
  <tbody>
    <tr>
      <td>
        <code>@screen-xs: 480px;</code>
      </td>
      <td>
        <code>@screen-sm: 768px;</code>
      </td>
      <td>
        <code>@screen-md: 992px;</code>
      </td>
      <td>
        <code>@screen-lg: 1200px;</code>
      </td>
    </tr>
  </tbody>
</table>
