<div class="">
  <div class="outside-b">
    <div class="row">
      <div class="col col-md-12">
        <div class="notices notices-base inside">col-md-12</div>
      </div>
    </div>
  </div>
  <div class="outside-b">
    <div class="row">
      <div class="col col-md-10">
        <div class="notices notices-base inside">col-md-10</div>
      </div>
      <div class="col col-md-2">
        <div class="notices notices-base inside">col-md-2</div>
      </div>
    </div>
  </div>
  <div class="outside-b">
    <div class="row">
      <div class="col col-md-8">
        <div class="notices notices-base inside">col-md-8</div>
      </div>
      <div class="col col-md-4">
        <div class="notices notices-base inside">col-md-4</div>
      </div>
    </div>
  </div>
  <div class="outside-b">
    <div class="row">
      <div class="col col-md-6">
        <div class="notices notices-base inside">col-md-6</div>
      </div>
      <div class="col col-md-6">
        <div class="notices notices-base inside">col-md-6</div>
      </div>
    </div>
  </div>
  <div class="outside-b">
    <div class="row">
      <div class="col col-md-4">
        <div class="notices notices-base inside">col-md-4</div>
      </div>
      <div class="col col-md-4">
        <div class="notices notices-base inside">col-md-4</div>
      </div>
      <div class="col col-md-4">
        <div class="notices notices-base inside">col-md-4</div>
      </div>
    </div>
  </div>
  <div class="outside-b">
    <div class="row">
      <div class="col col-md-3">
        <div class="notices notices-base inside">col-md-3</div>
      </div>
      <div class="col col-md-3">
        <div class="notices notices-base inside">col-md-3</div>
      </div>
      <div class="col col-md-3">
        <div class="notices notices-base inside">col-md-3</div>
      </div>
      <div class="col col-md-3">
        <div class="notices notices-base inside">col-md-3</div>
      </div>
    </div>
  </div>
  <div class="outside-b">
    <div class="row">
      <div class="col col-sm-10-2">
        <div class="notices notices-success inside">col-sm-10-2</div>
      </div>
      <div class="col col-sm-10-2">
        <div class="notices notices-success inside">col-sm-10-2</div>
      </div>
      <div class="col col-sm-10-2">
        <div class="notices notices-success inside">col-sm-10-2</div>
      </div>
      <div class="col col-sm-10-2">
        <div class="notices notices-success inside">col-sm-10-2</div>
      </div>
      <div class="col col-sm-10-2">
        <div class="notices notices-success inside">col-sm-10-2</div>
      </div>
    </div>
  </div>
  <div class="outside-b">
    <div class="row">
      <div class="col col-md-2">
        <div class="notices notices-base inside">col-md-2</div>
      </div>
      <div class="col col-md-2">
        <div class="notices notices-base inside">col-md-2</div>
      </div>
      <div class="col col-md-2">
        <div class="notices notices-base inside">col-md-2</div>
      </div>
      <div class="col col-md-2">
        <div class="notices notices-base inside">col-md-2</div>
      </div>
      <div class="col col-md-2">
        <div class="notices notices-base inside">col-md-2</div>
      </div>
      <div class="col col-md-2">
        <div class="notices notices-base inside">col-md-2</div>
      </div>
    </div>
  </div>
</div>
