<div class="panel-ui-block {{ classes }}">
  <div class="badge {{ badge_class }}"></div>
  <div class="outside-t">
    {%- if title ~%}
    <h2 class="outside-b">{{ title }}</h2>
    {%- endif ~%}
    {%- if desc ~%}
    <p class="">{{ desc }}</p>
    {%- endif ~%}
  </div>
</div>
